.box{
    
  
    max-width: 100%;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    font-weight: 500;
    background-color:	#03A89E	   ;
    color: white;
}
input[type=text],input[type=number] ,input[type=email], textarea{
    width: 100%;
    margin: 8px 0;
    border-color: transparent;
    border-bottom:3px solid white ;
    font-size: 20px;
    background-color: transparent;
    color:whitesmoke;
    margin-right: 50px;
 

  }
.is-invalid{
    border-bottom: 1px solid blue !important;
   
}

.button{
	background: #03A89E;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	
	font-size: 15px;
}

.float{
    font-size: 15px;
    color: red;
}
.wrapper{
    
    max-width: 40%;
    
}


.side{
    float:right;
    width: 

}

.line{
    border-bottom: 2px solid black;
    padding-top: 100px;
}