<div class="headertop" #headertop>
    <div class="container-fluid color_blue header_padding_top_bot">
        <div class="container ">                    
                <div class="row white_color">
                    <div class="col-sm">
                        <span class="header_icons">
                            <img src ="./assets/images/call.svg" class="smallest_svg">
                            +999-222-333
                        </span>
                        
                        <span class="header_icons">
                            <img src ="./assets/images/black-back-closed-envelope-shape.svg" class="smallest_svg">
                            address@gmail.com
                        </span>   
                        
                        
                    </div>
                    <div class="col-sm">
                        <div class="d-flex justify-content-end">
                            <img src ="./assets/images/facebook.svg" class="smallest_svg header_icons">
                            <img src ="./assets/images/twitter.svg" class="smallest_svg header_icons">
                            <img src ="./assets/images/instagram.svg" class="smallest_svg header_icons">
                            <img src ="./assets/images/linkedin.svg" class="smallest_svg header_icons">
                            <span class="header_icons">Support</span>
                        </div>
                    </div>
                </div>    
          </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light header-shadow background-color">
    
    <a class="navbar-brand" href="#">Navbar w/ text</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto infoelement">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      
    </div>
</div>
<span class="navbar-text">
    Navbar text with an inline element
  </span>
  </nav>
  <div class="show_hide" #toggleimage>
  <img  src = "./assets/images/up.svg" (click)="show_hide()" >
</div>