
<table id="customers">
    <tr>
      <th>Author Name</th>
      <th>Last Book</th>
      <th>D.O.B</th>
    </tr>
    <tr><td>Raju</td>
        <td>Angular</td>
        <td>21/02/1998</td>
    </tr>
    <tr><td>Raju</td>
        <td>Angular</td>
        <td>21/02/1998</td>
    </tr>
    <tr><td>Raju</td>
        <td>Angular</td>
        <td>21/02/1998</td>
    </tr>
    <tr><td>Raju</td>
        <td>Angular</td>
        <td>21/02/1998</td>
    </tr>
    <tr><td>Raju</td>
        <td>Angular</td>
        <td>21/02/1998</td>
    </tr>
    <tr><td>Raju</td>
        <td>Angular</td>
        <td>21/02/1998</td>
    </tr>
    <tr><td>Raju</td>
        <td>Angular</td>
        <td>21/02/1998</td>
    </tr>
    <tr><td>Raju</td>
        <td>Angular</td>
        <td>21/02/1998</td>
    </tr>
    <tr><td>Raju</td>
        <td>Angular</td>
        <td>21/02/1998</td>
    </tr>
  </table>
  

