.padding_top{
    padding-top: 10%;
    max-width: 25%;
    padding-bottom: 250px;
}
.buttonCss{
    background: black;
    border-color: black;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    padding: 5px 5px;
}

.buttonCss:hover{
    text-decoration: underline  #8167a9 ;
    text-decoration-style: solid;
    color:  #8167a9;
}
.signin-position{
  
    padding-left: 30%;
}
.error{
    color: red;
}
