.padding_top{
    padding-top: 10%;
    max-width: 25%;
    padding-bottom: 250px;
}
.btn-sign-up{
    border-radius: 4px solid black;
    background-color: 	#FFB90F;
}
.signin-position{
  
    padding-left: 30%;
}
