<nav class="navbar navbar-expand-lg navbar-light bg-light padding_left shadow">
   <a class="navbar-brand" href="#"><img src ="../../assets/images/book.svg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse flex" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active flex">
           <a routerLink="" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item flex">
          <a routerLink="/categories" routerLinkActive="active">Categories</a>
        </li>
        <li class="nav-item flex">
            <a class="nav-link" href="#">Items</a>
          </li>
          <li class="nav-item flex">
            <a class="nav-link" href="#">Contacts</a>
          </li>
          
          
      
        
      </ul>
      <div class=" my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item flex">
            <a class="nav-link" href="#" (click) ="logout()">logout</a>
          </li>
          <li class="nav-item flex">
            <a routerLink="/login" routerLinkActive="active">login</a>
          </li>
          </ul>
        </div>
     
    </div>

  </nav>