<div class="container">
  <div class="card bg-light">
    <div class="card-body">
      <div class="row row-cols-4">
        <div class="col">
          <div class="company_name"><b>Company</b></div>
          <div><a href="url">About Us</a></div>
          <div><a href="url">Careers</a></div>
          <div><a href="url">Terms</a></div>
          <div><a href="url">Privacy</a></div>
          <div><a href="url">Help</a></div>
        </div>
        <div class="col">
          <div><b>Work With Us</b></div>
          <div><a href="url">Authors</a></div>
          <div><a href="url">Advertise</a></div>
          <div><a href="url">Authors & ads blog</a></div>
          <div><a href="url">API</a></div>
        </div>
        <div class="col">
          <div><b>Connect</b></div>
          <a href="#">
            <img src="assets/images/facebook.svg" />
          </a>
          <a href="#">
            <img src="assets/images/twitter.svg" />
          </a>
          <a href="#">
            <img src="assets/images/instagram.svg" />
          </a>
          <a href="#">
            <img src="assets/images/linkedin.svg" />
          </a>
        </div>
        <div class="col">
          <a href="#" class="btn btn-primary">Get it on GooglePlay</a>
        </div>
      </div>
    </div>
  </div>
</div>
