

<div class="row">

  <div class="col-sm-2">
    <nav class=" ">
      <ul>
           <!-- <li><label class="space">
            <div (click)="change_toggle()">
              view
              </div>
                 </label>
           </li> -->
           <li><div *ngIf="!Edit_toggle" (click)="change_toggle()">change to view</div><div *ngIf="Edit_toggle" (click)="change_toggle()">change to create Form</div> </li>

         <!-- <li><label class="space">
        <div  ">create</div>
         </label>
         </li> -->
       </ul>
     </nav>

  </div>
  <div class="col-sm-5" *ngIf="!Edit_toggle">
    

    

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()"  class="form">
  
  
  <label>
      name:
    <input type="text" formControlName="name">
  </label>
  <label>
      coach:
      <input type="text" formControlName="coach">
    </label>
    <label>
      description:
      <input type="text" formControlName="description">
    </label>
    <input type="hidden" formControlName="id">
    <div *ngIf="!button"><button type="submit" [disabled]="!profileForm.valid">Submit</button></div>
    <div *ngIf="button"><button type="button" [disabled]="!profileForm.valid" (click)="updval(profileForm)">Edit</button></div>

   

</form>
</div>


  
  <div class="col-sm-5" *ngIf="Edit_toggle">
    
    <div *ngFor="let team of myData">
     {{team.name}} -  {{team.coach}} -  {{team.description}}<img src ="./../../assets/images/delete.svg" (click)="delval(team.id)">  <img src ="./../../assets/images/document.svg" (click)="editVal(team)">
     <img src ="./../../assets/images/eye.svg" (click)="postVal(team)">
    </div>
  </div>

  <div class = col-sm-10 *ngIf="SelectedData">
    
      {{userVal.name}} -  {{userVal.coach}} -  {{userVal.description}}


</div>


</div>

