<!-- uper body start -->

<div class="conatiner shadow">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="../../assets/image/girl.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="col-8">
            <div class="card mb-3">
                <div class="card-header">
                    <h3>
                        Abour Book
                    </h3>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <h6>
                            Book Name : - {{ books.bookName }} <br>
                            Author : - {{ books.bookAuthorName }} <br>
                            Price : - {{ books.bookPrice }} <br> 
                        </h6>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- uper body end -->
    <!-- bio start -->
    <div class="card mb-3">
        <div class="card-header">
            <h3>
                Author's Bio
            </h3>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0 ">
                <h6>
                    jhsjfafgsjh
                </h6>
            </blockquote>
        </div>
    </div>
    <!-- bio end -->
    <!-- Author's Book list start -->
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3>
                        List Of Books :
                    </h3>
                </div>
              </div>
        </div>
        <div class="col-8">
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>

 <!-- Author's Books list end -->