<header>
  <div class="styling">
    <a href="#" class="float-left" style="padding: 10px;">
        LITERARY<strong><font color = "black">HUB</font></strong>
    </a>
      <div class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact </a>
        </li>
        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
        </div>
      </div>
  </div>
  <div>
    <ul class="nav nav-pills nav-fill input">
    <div class="dropdown">
      <li class="nav-item">
       <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Craft & Criticism
         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">LITREARY CRITICISM</a>
              <a class="dropdown-item" href="#">CRAFT & ADVICE</a>
              <a class="dropdown-item" href="#">ON TRANSLATION</a>
          </div>
        </a>
      </li>
    </div>
    <div class="dropdown">
      <li class="nav-item">
       <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">FICTION & POETRY
         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">SHORT STORY</a>
              <a class="dropdown-item" href="#">FROM THE NOVEL</a>
              <a class="dropdown-item" href="#">POEMS</a>
          </div>
        </a>
      </li>
    </div>
    <div class="dropdown">
      <li class="nav-item">
       <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">NEWS & CULTURE
         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">FILM & TV</a>
              <a class="dropdown-item" href="#">PHOTOGRAPGY</a>
              <a class="dropdown-item" href="#">ART</a>
              <a class="dropdown-item" href="#">FOOD</a>
              <a class="dropdown-item" href="#">TRAVEL</a>
          </div>
        </a>
      </li>
    </div>
    <div class="dropdown">
      <li class="nav-item">
       <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">READING LISTS
         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">THE BEST OF DECADE</a>
          </div>
        </a>
      </li>
    </div>
    <div class="dropdown">
      <li class="nav-item">
       <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">BOOK MARKS
         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">BEST REVIEWED BOOK</a>
              <a class="dropdown-item" href="#">DAILY GIVEAWAYS</a>
          </div>
        </a>
      </li>
    </div>
  </ul>
</div>



                

