<div class="container">
  <div class="bg_author_detail">
    <h1><p class="text-center">Book Detail</p></h1>
    <div class="row row-cols-2">
      <div class="col">
        <div class="text-center">
          <img src=".." class="rounded" alt="..." />
        </div>
      </div>
      <div class="col">
        <p class="text-sm-left">Book_Name :{{ book.name }}</p>
        <p class="text-md-left">Author_Name :{{ book.author }}</p>
        <p class="text-lg-left">Book_price : {{ book.price }} :</p>
      </div>
    </div>
    <div class="biodata"><h4>Biodata :</h4></div>
    <div class="books"><h4>Boooks : []</h4></div>
  </div>
</div>
