<ul class="nav justify-content-end" id="header">  
    <li class="img gap">
    <img src="../../assets/images/library.svg" class="img-fluid" alt="Responsive image">
    </li>
    <li class="nav-item">
      <a class="btn btn-success gap" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-success gap" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-success gap" href="#">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-success gap" href="#">Store</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-success" href="#">Offers</a>
    </li>
    
</ul>
