<div class="main pt-2 pr-2 pl-2">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">ISBN</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>We Were Eight Years in Power: An American Tragedy</td>
            <td>Ta-Nehisi Coates</td>
            <td>978-0-399-59056-6</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td> Fly Me</td>
            <td>Daniel Riley</td>
            <td>978-0-316-36213-9</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Before We Were Yours</td>
            <td>Lisa Wingate</td>
            <td>978-0-425-28468-1</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Before We Were Yours</td>
            <td>Lisa Wingate</td>
            <td>978-0-425-28468-1</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Before We Were Yours</td>
            <td>Lisa Wingate</td>
            <td>978-0-425-28468-1</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Before We Were Yours</td>
            <td>Lisa Wingate</td>
            <td>978-0-425-28468-1</td>
        </tr>
        </tbody>
    </table>
</div>