<!-- <div class="container-fluid head">
  <div>
    <form [formGroup]="formData1" (ngSubmit)="onUpdate()">
    
      <div class="row">
        <div class="col">
          Id:
          <br>
          <input id="id" class="form-control" type="text" formControlName="id" >
        </div>
        <div class="col">
          Name:
          <br>
          <input id="name" class="form-control" type="text" formControlName="name" >
        </div>
        <div class="col">
          Description:
          <br>
          <input id="des" class="form-control" type="text" formControlName="des" >  
        </div>
      </div>
      <div style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div> -->



<router-outlet></router-outlet>



