<div class="container bodyleft">
    <table class="table container table-striped border border-success ">
        <thead>
          <tr>
            <th scope="col">B_No.</th>
            <th scope="col">BookName</th>
            <th scope="col">AuthorName</th>
            <th scope="col">Price</th>
            <th scope="col">ISP No.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>The Red Sari</td>
            <td>Javier Moro</td>
            <td>600.00</td>
            <td>A4676jk</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Walking With Gaints</td>
            <td>Thornton</td>
            <td>567.00</td>
            <td>Ig6564578l</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>The Bird</td>
            <td>787.00</td>
            <td>Ig65678o</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>My Music My Life</td>
            <td>G.D. Pradhan</td>
            <td>690.00</td>
            <td>B898989</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>One Life is Not Enough</td>
            <td>Neel Singh</td>
            <td>707.00</td>
            <td>U66567o</td>
          </tr>
        </tbody>
      </table>
</div>