<div class="container">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm)">
    
    
      <div class="form-group col-sm-6">
        <h3>Form</h3>                          
      
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
        <label>Password:</label>
        <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">First Name is required</div>
        </div>                                    
    </div>         
    <button class="button btn-success" type="submit">Submit</button>
    
</form>
</div>

