
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/98181.png');
    color:grey; 
    background-position:center ;
    background-size: cover; 
    background-repeat: no-repeat ;
   
    
}



/*-- header starts --*/

header {
    padding: 20px 10px;
    
    
}
header nav li {
    display: inline-block;

}
header nav li a {
    padding: 25px 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
header nav li a:hover {
    text-decoration: underline;
    background:#9a0130;
    text-decoration: none;
    
}
header nav {
    
    position: fixed;
    justify-content: right;
}
header ul {
    right: 10px;
}
header img {
    position: fixed;
}
header ul{
    position: fixed;
    justify-content: center;
}


/*-- header ends --*/

main{
    padding: 150px 0px 0px 0px;
}
article p {
    padding: 20PX;
    margin: 20px;
    border: 1px solid green;
}

article h3 {
    font-size: 20px;
    padding: 0.5px 20px;
}

article h3 strong {
    font-size: 34px;
}

article p strong {
    font-weight: normal;
    font-style: italic;
}

article.greenColor p strong {
    font-style: normal;
}

article
{
    padding: 10px 0px 10px 200px;
}

aside {

  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  height: 100%;
  width: 200px;
  position: fixed;
  line-height: 100px;
  background-color:transparent;
  padding-top: 20px;

}

#list {
    list-style: none !important;
    font-size: larger;
    font-style: oblique;
    color: white;
}

nav li{
 
  text-decoration: none;
  font-size: 25px;
  display: block;
  padding-top: 20px;
 
  
}
a {
    color: whitesmoke;
    text-decoration: none;
}
span{
  position: absolute;
  bottom: 80px;
  left: 100;
  
}
.popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url('../images/26058493.jpg   ');
    background-position:center ;
    background-size: cover; 
    background-repeat: no-repeat ;
    width: 350px;
    height: 800px;
    padding: 20px;
    position: fixed;
    line-height: 50px;
    color :white;
}
form h2 {
text-align: center;
}

input[type=text] {
    height: 20px;
    position: relative;
    border: 2px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .14);
    background-color: AliceBlue;
    font-size: 14px;
  }
  
  .advancedSearchTextbox {
    width: 526px;
    margin-right: -4px;
  } 