<div class="container">
  <div>
    <h5 class="services">Services</h5>
    <h4 style="text-align: center;">With more than 20 years of experience we can<br> deliver the best product design.</h4>
  </div>
  <div class="box">
    <div class="row">
      <div class="col-4">
        <div class="border boxstyle">
          <img src="../../assets/team-3-assets/1.svg" alt="logo1">
          
          <h5>Graphic Design</h5>
          Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit sed do <br> eiusmod tempor.
        
        </div>
      </div>
      <div class="col-4">
        <div class="border boxstyle">
          <img src="../../assets/team-3-assets/2.svg" alt="logo2">
          <h5>Web Design</h5>
          Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit sed do <br> eiusmod tempor.
        </div>
      </div>
      <div class="col-4">
        <div class="border boxstyle">
          <img src="../../assets/team-3-assets/3.svg" alt="logo3">
          <h5>Mobile App</h5>
          Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit sed do <br> eiusmod tempor.
        </div>
      </div>
    </div>
  </div>
</div>
