
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author Name</th>
        <th scope="col">Country</th>
        <th scope="col">Last Book Published</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Robin</td>
        <td>Gotham</td>
        <td>Joker</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Zack</td>
        <td>Washington</td>
        <td>Diplomats</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Trump</td>
        <td>Boston</td>
        <td>Dumb</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Chetan</td>
        <td>India</td>
        <td>2 States</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>

     </tbody>
  </table>
  
