body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1024px;
    margin: 20px 10px;

}

/*-- header starts --*/

header {
    padding: 20px 10px;
}
header nav, header nav li {
    display: inline-block;
}
header nav li a {
    padding: 10px 10px;
    text-decoration: none;
}
header nav li a:hover {
    text-decoration: underline;
    background: red;;
}
header nav {
    float: right;
}

/*-- header ends --*/

.column {
    display: inline-block;
    vertical-align: top;
    
}
.col1{
    width: 16%;
   
}
.col2{
    width: 79%;
}

.verticalLine {
    border-left: thick solid #ff0000;
  }
article p {
    padding: 20px;
    margin: 10px;
    border: 1px solid green;
}

article h3 {
    font-size: 20px;
}


article p strong {
    font-weight: normal;
    font-style: italic;
}

article.greenColor p strong {
    font-style: normal;
}