<div class="card text-center" id="footer">    
    <div class="card-body">
      <h5 class="card-title">Save Time Save Money</h5>
      <p class="card-text">Sign up and we'll send the best deals to you</p>
      <form class="form-inline my-2 my-lg-0 footSet">        
        <input class="form-control mr-sm-2" type="search" placeholder="Email" aria-label="Search">
        <button class="btn btn-dark" type="submit">Sign Up</button>
      </form>  
    
      
       
    </div>
    <div class="card-footer text-muted">
      thankYou
    </div>
  </div>

