<div class="container-fluid body-img">
   <div>
       <app-nav-bar></app-nav-bar>
   </div>
      <div class="container">
          <div class = "spacing-around content-color">
              <p style="padding: 1px;" class="ttt"> Hello Welcome to</p>
              <h1 class="display-1 bolder t"> Readit Blog </h1>
              <h6>
              <br> <i> For the away. Behind the world mountain for from the count6ies Vadika <br>
              and Consonantia. there live the blind text. Separated they live in <br>
              Bookmarksgrove right at the coast of the Semabtics, a large language <br>
              ocean.</i>
              </h6>
          </div>
      </div>
  </div>