
   
    <div >
        <div class="row">

          <div class="col-sm-4">
           <img src="../../assets/images/teacher.svg" class="images1">
          </div>
          <div class="col-sm-8">
          <ul>
              
                <!-- <li>
                    {{Books.book_name}}
                </li> -->
                <li>
                   {{Books.author_name}}
                </li>
                <li>
                     {{Books.book_type}}
                </li>
                 
              
          </ul>
          </div>
          <div class="clearfix"></div>
        </div>
    </div>
    <div >
        
        <p><strong>BIOGRAPHY:</strong>Jawaharlal Nehru, byname Pandit (Hindi: “Pundit” or “Teacher”) Nehru, (born November 14, 1889, Allahabad, India—died May 27, 1964, New Delhi), first prime minister of independent India (1947–64), who established parliamentary government and became noted for his neutralist (nonaligned) policies in foreign affairs. He was also one of the principal leaders of India’s independence movement in the 1930s and ’40s.</p>
        <ul >
           <h4><strong> BOOK NAME</strong></h4>
            <li><a>Glimpses Of World History</a> </li>
            <li><a>The Discovery Of India</a></li>
            <li><a>Letters From A Father To His Daughter</a></li>
            <li><a>An Autobiography: Toward Freedom</a></li>
            <li><a>Letters For A Nation: From Jawaharlal Nehru To His Chief Ministers 1947-1963</a></li>
        </ul>
    </div> 
        


      
                
