<div class="container">
  
<div class="row mt-4">
  <div class="col-lg-9">
  <div id="mainDisplay" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2
          style="font-weight: bolder;font-family :'Trebuchet MS','Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-left: 25px;">
       GIVE US RATING!! <img src="../../assets/images/favorite.svg" class="images">
        </h2>
      </div>
      <div class="carousel-item">
        <h2
          style="font-weight: bolder;font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-left: 25px">
          GET FREE SHIPPING !!! <img src="../../assets/images/delivery-truck.svg" class="images"></h2>
      </div>
      <div class="carousel-item">
        <h2
          style="font-weight: bolder;font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-left: 25px">
         CONTANT US 18000-18000<img src="../../assets/images/customer-service.svg" class="images"></h2>
      </div>
    </div>
 </div>
</div>
<div class="col-lg-3">
  <button class="btn mt-3" style="float: right; font-size: 15px; margin-right:40px" [routerLink]="['addform']" type="submit">ADD CATEGORY</button>
</div>
 </div>


  <table class="table" style="border: solid black 2px;margin-left: 5px;">
    <thead>
      <tr>
        <th scope="col" class="font1">LIST OF ITEMS</th>
        <th scope="col" class="font1">RATINGS</th>
        <th scope="col" class="font1">CHOOSE BRAND</th>
        <th scope="col" class="font1">ITEMS ARE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="font2">Microwave oven.<br>
          <button type="submit" class="btn ">ADD TO CART</button>
        </td>

        <td>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>

        </td>
        <td>
          <select id="BRAND" name="brands" form="brandform">
            <option value="L.G">L.G</option>
            <option value="SONY">SONY</option>
            <option value="SAMSUNG">SAMSUNG</option>
          </select>
        </td>
        <td>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../assets/images/download (1).jfif" class="card-img" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Microwave oven</h5>
                  <p class="card-text">An oven is a thermally insulated chamber used for the heating, baking, or drying of a substance, and most commonly used for cooking. Kilns and furnaces are special-purpose ovens</p>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="font2">Gas fireplace<br>
          <button type="submit" class="btn ">ADD TO CART</button>
        </td>
        <td>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>

        </td>
        <td>
          <select id="BRAND" name="brands" form="brandform">
            <option value="L.G" style="padding: 20px;">L.G</option>
            <option value="SONY">SONY</option>
            <option value="SAMSUNG">SAMSUNG</option>
          </select>
        </td>
        <td>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../assets/images/download (2).jfif" class="card-img" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Gas fireplace</h5>
                  <p class="card-text">An oven is a thermally insulated chamber used for the heating, baking, or drying of a substance, and most commonly used for cooking. Kilns and furnaces are special-purpose ovens</p>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="font2">Refrigerators
          <br>
          <button type="submit" class="btn ">ADD TO CART</button>
        </td>
        <td>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>

        </td>
        <td>
          <select id="BRAND" name="brands" form="brandform">
            <option value="L.G">L.G</option>
            <option value="SONY">SONY</option>
            <option value="SAMSUNG">SAMSUNG</option>
          </select>
        </td>
        <td>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../assets/images/download (3).jfif" class="card-img" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Refrigerators</h5>
                  <p class="card-text">An oven is a thermally insulated chamber used for the heating, baking, or drying of a substance, and most commonly used for cooking. Kilns and furnaces are special-purpose ovens</p>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="font2">Laptop<br>
          <button type="submit" class="btn ">ADD TO CART</button>
        </td>
        <td>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>

        </td>
        <td>
          <select id="BRAND" name="brands" form="brandform">
            <option value="L.G">L.G <img src="../../assets/images/lg.svg"></option>
            <option value="SONY">SONY <img src="../../assets/images/sony.svg"></option>
            <option value="SAMSUNG">SAMSUNG <img src="../../assets/images/samsung.svg"></option>
          </select>
        </td>
        <td>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../assets/images/download (4).jfif" class="card-img" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Laptop</h5>
                  <p class="card-text">An oven is a thermally insulated chamber used for the heating, baking, or drying of a substance, and most commonly used for cooking. Kilns and furnaces are special-purpose ovens</p>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="font2">Electric water heater tan<br>
          <button type="submit" class="btn ">ADD TO CART</button>
        </td>
        <td>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>

        </td>
        <td>
          <select id="BRAND" name="brands" form="brandform">
            <option value="L.G">L.G</option>
            <option value="SONY">SONY</option>
            <option value="SAMSUNG">SAMSUNG</option>
          </select>
        </td>
        <td>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../assets/images/download (5).jfif" class="card-img" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Electric water heater tan</h5>
                  <p class="card-text">An oven is a thermally insulated chamber used for the heating, baking, or drying of a substance, and most commonly used for cooking. Kilns and furnaces are special-purpose ovens</p>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">