<div class="container" style="margin-top: 20px;">
  <table class="table" style="border: solid black 2px;margin-left: 5px;">
      <thead>
          <tr>
              <th scope="col" class="font1">LIST OF ITEMS</th>
              <th scope="col" class="font1">RATINGS</th>
              <th scope="col" class="font1">CHOOSE BRAND</th>
              <th scope="col" class="font1">ITEMS ARE</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of datas">
              <td class="font2">{{data.name}} </td>
              <td >
                  <span class="fa fa-star checked" *ngFor="let star of [].constructor(data.rating);let i = index"></span>
                  <span class="fa fa-star" *ngFor="let star of [].constructor(5 - data.rating);let i = index"></span>
              </td>
              <td>
                  <select id="BRAND" name="brands" form="brandform">
                      <option value="L.G">L.G</option>
                      <option value="SONY">SONY</option>
                      <option value="SAMSUNG">SAMSUNG</option>
                    </select>
              </td>
              <td>
                <button type="button" class="close" aria-label="Close" (click) = "onClose(data)">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="card mb-3" style="max-width: 300px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="../../assets/images/download (1).jfif" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{data.name}}</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">