<div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
        
        <table class="table" style="border: solid black 2px;margin-left: 5px;">
            <thead>
              <tr>
                <th scope="col" class="font1">LIST OF ITEMS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="font2">Microwave oven.</td>
              </tr>
              <tr>
                <td class="font2">Microwave oven.</td>
              </tr>
              <tr>
                <td class="font2">Microwave oven.</td>
              </tr>
              <tr>
                <td class="font2">Microwave oven.</td>
              </tr>
              <tr>
                <td class="font2">Microwave oven.</td>
              </tr>
            </tbody>
          </table>

    </div>
    <div class="col-lg-9">
        One of three columns
    </div>
</div>