<header class="container" >
  <a href="#">
    <img class="float-left" src="../../assets/team-3-assets/logo.png" alt="logo" width="120" height="auto">
  </a>
  
  <button type="button" class="btn btn-primary float-right button2" data-toggle="modal" data-target="#exampleModalLong">
    <a routerLink="/Sign-in" routerLinkActive="">Sign-in</a>
  </button>

  
  <button type="button" class="btn btn-primary float-right button2" data-toggle="modal" data-target="#exampleModal">
    <a routerLink="/Sign-up" routerLinkActive="">Sign-up</a>
  </button>

  <ul class="nav justify-content-center topcolumn">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Pages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</header>
