.body-img{
    background:  linear-gradient(to right ,hsla(0, 12%, 5%, 0.493),  rgba(0, 0, 0, 0.8), transparent), url("../../assets/img/background-image.jpg") no-repeat center; 
}
.navbar-brand {
    display: inline-block;
    font-size: 1.25rem;
    white-space: nowrap; 
    color: #fcf7f7;
    font-weight: 900;
    font-size: 26px;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1;
}
.navbar-brand1 {
    font-size: 1.2rem; 
    color: #fcf7f7;
    font-weight: 600;
    font-size: 26px;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1;
}

.navbar-brand i {
    font-style: normal;
    color: rgb(204, 196, 196);
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(177, 177, 180, 0.726), 0 0 5px rgb(226, 191, 191); 
}
.color a{
    color: rgb(255, 247, 247); 
    font-size: large;
}
.color a:hover{
    color:#ee8267;
    box-sizing: border-box;
    border: 1.5px solid #9e9d9d;
    border-radius: 3px;
}
.logo-font{
    font-weight: 800;
}
.content-color{
    color: rgba(206, 204, 204, 0.678);
}
.bolder{
    color: rgba(255, 254, 254, 0.637);
    font-size: 7rem;
    font-weight: 900;
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(177, 177, 180, 0.726), 0 0 5px rgb(226, 191, 191);
}
.spacing-around{
    padding: 200px 0px;
}
input[type="text"], input[type="password"] {
    background-color:rgba(0, 0, 0, 0);
    color:white;
    border: 1px solid rgb(192, 190, 190);
    outline:none;
    transition:height 1s;
    -webkit-transition:height 1s;
}
label {
    color: aliceblue;
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(177, 177, 180, 0.726), 0 0 5px rgb(226, 191, 191)
}
.signup-style {
    margin-top: 10%;
}
h4 {
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(177, 177, 180, 0.726), 0 0 5px rgb(226, 191, 191);
}