body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 1024px;
    margin: 0 auto;

}

/*-- header starts --*/

header {
    padding: 10px 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    right: 0;
    bottom: auto;
    background-image: url(../images/green3.jpg);
    box-sizing: border-box;
    border: 1px solid black;
}
header nav, header nav li {
    display: inline-block;
    margin-top: 8px;  
}
header nav li a {
    padding: 0 10px;
    text-decoration:none;
    color: crimson;   
}
header nav li a:hover {
    text-decoration: underline;
    height: 100%;
    padding:25px 35px;
    background: whitesmoke;   
}
header nav {
    float: right;
    position: sticky;
    z-index: 1;
}

/*-- header ends --*/

/*--- main start --*/
.clear {
    clear: both;
}
main {
    background: rgba(0, 128, 85, 0.527);
}
aside {
    position: sticky;
    top: 68px;
    left: 0;
    right: 0;
    bottom: auto;
    width: 20%;
    background: rgba(47, 255, 151, 0.39);
    float: left;
}
aside ul li {
    list-style: none;
    box-sizing: border-box;
    border: 1px solid black;
}
aside li a {
    padding: 10px;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-align: center;
}
aside li a:hover {
    background: grey;
    width: 90%;
}
section {
    width: 80%;
    background-image: url(../images/green2.jpg);
    float: right;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}
article p {
    padding: 15px;
    
}
article h3 {
    font-size: 20px;
    background: rgb(15, 223, 126);
    box-sizing: border-box;
    border: 2px solid black;
}
article h3 strong {
    font-size: 50px;
}
.buttonStyle{
    background: #fff;
    border: 1px solid black;
    padding: 6px 15px;
    border-radius: 20px;
    cursor: pointer;
}
button[type="submit"] {
    background:red;
}
.fRight {
    float: right;
}
article p strong {
    font-weight: normal;
    font-style: italic;
}
article.greenColor p strong {
    font-style: normal;
}
.popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: grey;
    width: 300px;
    height: 400px;
    padding: 20px;
    position: fixed;
    opacity: 90%;
    text-align: center;
    border: 2px solid black;
    display: none;
    overflow: scroll;
}
.popup form > div {
    margin-bottom: 5px;
}
.popup input[type="text"] {
    padding: 5px 2px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    border: 2px solid red;
}
.popup textarea {
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    border: 2px solid red;
}
.table {
    background: rgb(10, 179, 10);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #16f0c0;
}
.table h3 {
    padding: 20px 10px;
    text-align: center;
}
footer{
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px 10px;
    background: plum;
}

/*-- footer ends --*/