{{mydata }}
<!-- <div class="container" *ngFor="let list of movie">
<ul>
  <li><span class="space">{{list.id}} </span>
    <span class="space">{{list.name}}</span></li>
</ul>
</div> -->

<div *ngFor="let team of myData">
  {{team.id}} - {{team.name}}
</div>


<!-- <div> 
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input type="text" class="form-control" formControlName="username" id="username">
    <input type="password" class="form-control" formControlName="password" id="pwd">
    <input type ="submit">
  </form>
  

  </div> -->