<div class="container">
    <div class="row py-4">
      <div class="col col-lg-6">
        <article>
          <img src="../../assets/image/image_1.jpg" alt="Responsive image" class="img-thumbnail">
        </article>
      </div>
        <div class="col col-6"><br><br>
          <article>
            <h4 style="font-size: 60px;"><strong>Build a website in minutes with Adobe Templates</strong></h4>
          </article>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col col-lg-6">
          <article>
            <img src="../../assets/image/image_2.jpg" alt="Responsive image" class="img-thumbnail">
          </article>
        </div>
        <div class="col col-lg-6"><br><br>
          <article>
            <h4 style="font-size: 60px;"><strong> Build a website in minutes with Adobe Templates</strong></h4>
          </article>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col col-lg-6">
          <article>
            <img src="../../assets/image/image_3.jpg" alt="Responsive image" class="img-thumbnail">
          </article>
        </div>
        <div class="col col-lg-6"><br><br>
          <article>
            <h4 style="font-size: 60px;"><strong> Build a website in minutes with Adobe Templates</strong></h4>
          </article>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col col-lg-6">
          <article>
            <img src="../../assets/image/image_4.jpg" alt="Responsive image" class="img-thumbnail">
          </article>
        </div>
        <div class="col col-lg-6"><br><br>
          <article>
            <h4 style="font-size: 60px;"><strong> Build a website in minutes with Adobe Templates</strong></h4>
          </article>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col col-lg-6">
          <article>
            <img src="../../assets/image/image_1.jpg" alt="Responsive image" class="img-thumbnail">
          </article>
        </div>
        <div class="col col-lg-6"><br><br>
          <article>
            <h4 style="font-size: 60px;"><strong> Build a website in minutes with Adobe Templates</strong></h4>
          </article>
        </div>
      </div>
    </div>