<div>
  <app-header></app-header>
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <img src="../../assets/img/clapperboard.svg" width="150px" style="margin-top: -100px;">
    <h2 class="title">Jump on board</h2>
  </div>
  <label>
    <div class="form-group" >
      <input type= "text" required class= "input" formControlName= "Name" [ngClass]= "{'is-invalid': checkoutForm.get('Name').touched && checkoutForm.get('Name').invalid}">
      <p class="label-txt">Name</p>
      <div class="line-box">
        <div class="line"></div>
      </div>
      <div class="invalid-feedback">
        <h5 style="font-size: small;"><strong>Name is a required field</strong></h5>
      </div>
    </div>
  </label>
  <label>
    <div class="form-group" >
    <input type="text" required class="input" formControlName= "email" [ngClass]= "{'is-invalid': checkoutForm.get('email').touched && checkoutForm.get('email').invalid}">
    <p class="label-txt">Email Address</p>
    <div class="line-box">
      <div class="line"></div>
    </div>
    <div class="invalid-feedback">
      <h5 style="font-size: small;"><strong>Email is a required field</strong></h5>
    </div>
  </div>
  </label>
  <label>
    <div class="form-group" >
    <input type="password" name="password" id="e1" formControlName="password" required class="input"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <p class="label-txt">Password</p>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">required</div>
    </div>
    <div class="line-box">
      <div class="line"></div>
    </div>
    <div class="invalid-feedback">
      <h5 style="font-size: small;"><strong>Password is a required field</strong></h5>
    </div>
  </div>

  </label>
  <label>
    <div class="form-group" >
    <input type="password" name="retypepassword" id="e2" formControlName="retypepassword" required class="input"
      [ngClass]="{ 'is-invalid': submitted && f.retypepassword.errors }" />
    <p class="label-txt">Retype Password</p>
      <div *ngIf="submitted && f.retypepassword.errors" class="invalid-feedback">
        <div *ngIf="f.retypepassword.errors.required">Confirm Email is required</div>
        <div *ngIf="f.retypepassword.errors.MustMatch">Email must match</div>
      </div>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </div>
  </label>
  <button type="submit">Sign up</button>
  <p class="center super mt-3">
    "Already have an account?"
    <a href="">Sign in here</a>
  </p>
</form>