<div class="container">
    <section>
    
    <div class="row">
        <div class="col col-sm">
         <img src="../../assets/images/image_1.jpg" alt="Responsive image" class="images">
        </div>
        <div class="col col-sm font " >
            <p>BUILD A WEBSITE IN MINUTES AND THIS IS OUR FIRST SITE</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-7">
         <img src="../../assets/images/image_2.jpg" alt="Responsive image" class="images">
        </div>
        <div class="col col-sm-5 font">
            <p>BUILD A WEBSITE IN MINUTES AND THIS IS OUR FIRST SITE</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-7">
         <img src="../../assets/images/image_3.jpg" alt="Responsive image" class="images">
        </div>
        <div class="col col-sm-5 font">
            <p>BUILD A WEBSITE IN MINUTES AND THIS IS OUR FIRST SITE</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-7">
         <img src="../../assets/images/image_4.jpg" alt="Responsive image" class="images">
        </div>
        <div class="col col-sm-5 font">
            <p>BUILD A WEBSITE IN MINUTES AND THIS IS OUR FIRST SITE</p>
        </div>
    </div>
    <div class="clearfix"></div>
</section>


</div>
