<div class="padding_top">
 <div class="text-center">
      <a href="#"><h6>Services</h6></a>
      <p class="font_large container">With more than 20 years of expirence we can deliver the best product design</p></div>
    <div class="container text-center">
      <div class="row">
      <div class="col-sm">
        <img src="../../assets/images/1.svg" class="rounded mx-auto d-block" alt="...">
       <h3>Graphic Design</h3>
       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, maxime? Aliquid ipsa, eos ratione tenetur facilis dolorem nihil quo earum.</p>
      </div>
      <div class="col-sm">
        <img src="../../assets/images/2.svg" class="rounded mx-auto d-block" alt="...">
        <h3>Web design</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, maxime? Aliquid ipsa, eos ratione tenetur facilis dolorem nihil quo earum.</p>
      </div>
      <div class="col-sm">
        <img src="../../assets/images/3.svg" class="rounded mx-auto d-block" alt="...">
        <h3>Mobile app</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, maxime? Aliquid ipsa, eos ratione tenetur facilis dolorem nihil quo earum.</p>
      </div>
    </div></div>
  </div>
  