nav{
    background: black;
}
.bg-image{
    background-image: url(team-1-assets/banner.png);
    height: 100%;
    background-position: center;
    background-size: cover;
}
.bg-image-3{
    background-image: url(team-1-assets/loan.png);
    height: 30%;

}



/* .row{
    text: white;
} */
.text-white{
    font-size: 40px;
    ;
}
.container-padd {
    margin: 0px;
    padding: 100px 0;
}

form{
    border: 2px;
}
.spacing-around{
    padding: 100px 9px 100px 100px;
    margin: 0px 30px 100px 50px;
    text-size-adjust: auto;
}

p{
    margin: 80px auto auto 60;
}
.text-white.cont-3{
    font-size: 25px;
    padding-left: 0px;
}
.col-sm .navbar-brand img{
    width: 450px;
    height: 500px;
    margin-bottom: -56px;
    padding-top: 50px;
    padding-left: 35px;
}
.btn.btn-info.btn-2{
    margin: 100px;
    margin-left: 250px;

}
p.text-white.bg-transparent{
    margin-left: 35px;
}

/* h5{
    margin-top: 50px;
    margin-left: -41px;
} */

.col-heading{
    margin-left: -15px;
}
.text{
    margin-top: 163px; 
}

.col-sm.text{
    padding-right: 80px;
    padding-top: 40px;
}
button.btn.btn-primary{
    margin-inline-start: 22px;
}
/* .modal-body-1 .container .email-1 .b{
    margin-left: -424px; */
}
/*-----Sign up form start-----*/
.modal-body-1{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.modal-body-1 .button:hover{
    opacity:1;
}

.modal-body-1 .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
.signupbtn{
    padding: 2px 20px;
    background-color: #368bf4;

}

.modal-body-1 .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  .modal-body-1 .container {
    padding: 16px;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  /*---sign up form -end---*/

  .footer-1{
    margin-left: 185px;
  }

  .point{
      margin-left: -20px;
  }
  .bg-img{
      
  }

  