
.images
{
height: 55px;
}
.btn
{
border-radius: 0px;
color: white;
background-color: black;
font-weight: 600;
padding: 6px ;

font-size: 15px;
text-align: center;
} 
.images2
{
  height: auto;
  width:40%;
}
 .card
{
<<<<<<< HEAD
    border:solid black 2px;
=======
    border:solid #f88288 2px;
    margin-left: 25PX;
>>>>>>> a707d42e186798821daf547cf5707e00ad37bc22
    margin-bottom: 15px;
    width:170px;
} 
 .card-title
{
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    font-size: 20px;
    text-align: justify;
}  
.card-text
{
  font-weight: 300;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
  font-size: 12px;
} 
.rounded-0
{
 width: auto;
}