<button
  class="btn mt-4"
  style="float: right; font-size: 15px; margin-right:40px"
  [routerLink]="['addform']"
  type="submit"
>
  ADD CATEGORY
</button>
<div class="mt-5 mr-3">
  <div
    id="mainDisplay"
    class="carousel slide carousel-fade"
    data-ride="carousel"
    data-interval="3000"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2
          style="font-weight: bolder;font-family :'Trebuchet MS','Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-left: 25px;"
        >
          Everything at lowest price!!!
          <img
            src="../../assets/images/international-e-commerce (1).svg"
            class="images"
          />
        </h2>
      </div>
      <div class="carousel-item">
        <h2
          style="font-weight: bolder;font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-left: 25px"
        >
          Get 50% off
          <img src="../../assets/images/discount-voucher.svg" class="images" />
        </h2>
      </div>
      <div class="carousel-item">
        <h2
          style="font-weight: bolder;font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-left: 25px"
        >
          Vouchers <img src="../../assets/images/giftbox.svg" class="images" />
        </h2>
      </div>
    </div>
  </div>
  <div class="pl-3">
    <div class="row">
      <div class="col-lg-3" *ngFor="let data of datas">
        <div class="card" style="height: 355px;">
          <img
            src="../../assets/images/download (6).jfif"
            class="rounded-0"
            alt="..."
            style="height: 130px;"
          />
          <div class="card-body">
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="onClose(data)"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <button
              style="border-radius: 0px; border: 0px;background-color: white;"
              class="p-0"
              [routerLink]="['/items/category',data.id]"
            >
              <span
                ><h4 class="card-title" style="font-weight: 600; text-transform: capitalize;">{{ data.name }}</h4></span
              >
            </button>
            <div class="card-text example" style="text-align: left;height: 110px; overflow: scroll; overflow-x: hidden;">

              <li style="font-size: 15px;font-family:cursive; text-transform: capitalize;" *ngFor="let k of data['product-items']">{{k.name}}</li>

            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
