<div class="mt-5">
    <div id="mainDisplay" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2 style="font-weight: bolder;font-family :'Trebuchet MS','Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-left: 25px;">Everything at lowest price!!!   <img src="../../assets/images/international-e-commerce (1).svg" class="images"></h2>
          </div>
          <div class="carousel-item">
            <h2 style="font-weight: bolder;font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-left: 25px">Get 50% off   <img src="../../assets/images/discount-voucher.svg" class="images"></h2>
          </div>
          <div class="carousel-item">
            <h2 style="font-weight: bolder;font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;padding-left: 25px">Vouchers  <img src="../../assets/images/giftbox.svg" class="images"></h2>
          </div>
        </div>
       
    </div>
   
    <img src="../../assets/images/images (1).jfif" class="rounded-circle">
    <!--  <button class="btn" type="submit">ADD PRODUCT</button> <button class="btn" type="submit">EDIT PRODUCT</button> <button class="btn" type="submit">DELETE PRODUCT</button>  -->