<div class="container pt-4 pr-5 pl-5 pb-5">
    <button type="button" class="close" aria-label="Close" (click) = "onClose()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1><strong style="font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">ADD ITEM</strong></h1>
    <p><u>or</u> <strong style="color: #f88288;">  Add your fav item  </strong></p>
    <form [formGroup]="itemform" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="exampleInputEmail1" style="padding-top: 3px;">Name of Item</label>
            <input type="text" formControlName="item" class="form-control" placeholder="Name of  Item"  
                [ngClass]="{ 'is-invalid':f.item.errors }" />
                <div *ngIf="f.item.errors" class="invalid-feedback">
                    <div *ngIf="f.item.errors.required">*Caterogy Name is required</div>
                </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" style="padding-top: 3px;">Cost of Item</label>
            <input type="number" formControlName="cost" class="form-control" placeholder="Cost of  Item"  
                [ngClass]="{ 'is-invalid':f.cost.errors }" />
                <div *ngIf="f.cost.errors" class="invalid-feedback">
                    <div *ngIf="f.cost.errors.required">*Caterogy Name is required</div>
                </div>
        </div>
        <div class="form-group">
            <label for="inputState" style="padding-top: 3px;" >Ratings</label>
            <select id="inputState" class="form-control"  formControlName="rating"  [ngClass]="{ 'is-invalid':f.rating.errors }" >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <div *ngIf="f.rating.errors" class="invalid-feedback">
                <div *ngIf="f.rating.errors.required">*Caterogy Name is required</div>
            </div>
            
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" style="padding-top: 3px;">Description of Item</label>
            <textarea type="text" formControlName="Description" rows="3" class="form-control" style="padding:10px;" 
                [ngClass]="{ 'is-invalid':f.Description.errors }"></textarea>
            <div *ngIf="f.Description.errors" class="invalid-feedback">
                <div *ngIf="f.Description.errors.required">*Description of item </div>
            </div>
        </div>
        <button type="submit" class="btn ">ADD ITEM</button>
    </form>
</div>

