
<table id="customers">
    <tr>
      <th>Book Name</th>
      <th>Author</th>
      <th>Price</th>
    </tr>
    <tr><td>Angular</td>
        <td>Raju</td>
        <td>10000</td>
    </tr>
    <tr><td>Angular</td>
        <td>Raju</td>
        <td>10000</td>
    </tr>
    <tr><td>Angular</td>
        <td>Raju</td>
        <td>10000</td>
    </tr>
    <tr><td>Angular</td>
        <td>Raju</td>
        <td>10000</td>
    </tr>
    <tr><td>Angular</td>
        <td>Raju</td>
        <td>10000</td>
    </tr>
    <tr><td>Angular</td>
        <td>Raju</td>
        <td>10000</td>
    </tr>
    <tr><td>Angular</td>
        <td>Raju</td>
        <td>10000</td>
    </tr>
    <tr><td>Angular</td>
        <td>Raju</td>
        <td>10000</td>
    </tr>
    <tr><td>Angular</td>
        <td>Raju</td>
        <td>10000</td>
    </tr>
    <tr><td>Angular</td>
        <td>Raju</td>
        <td>10000</td>
    </tr>
  </table>
 
  
