#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  #popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: green;
    width: 200px;
    height: 550px;
    padding: 20px;
    position: fixed; 
    z-index:1;
  
}