<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Author Name</th>
        <th scope="col">Country</th>
        <th scope="col">Last Book</th>
        <th scope="col">Date of Birth</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Raju</th>
        <td>India</td>
        <td>Data Structure</td>
        <td>24th july</td>
      </tr>
      <tr>
        <th scope="row">Nishant</th>
        <td>India</td>
        <td>HTML and CSS</td>
        <td>04th sep</td>
      </tr>
      <tr>
        <th scope="row">Mona Lissa</th>
        <td>France</td>
        <td>Painting</td>
        <td>20th july</td>
      </tr>
      <tr>
        <th scope="row">Chetan bhagat</th>
        <td>India</td>
        <td>Half Girlfriend</td>
        <td>14th mar</td>
      </tr>
      <tr>
        <th scope="row">Shiwani</th>
        <td>India</td>
        <td>One</td>
        <td>31st aug</td>
      </tr>
      <tr>
        <th scope="row">Mark</th>
        <td>Japan</td>
        <td>Data Science</td>
        <td>18th may</td>
      </tr>
    </tbody>
  </table>