<article>Why Choose Us?</article>
<div class = "form-text-style list-text-style">
    <p>Esteem spirit temper too say adieus who direct esteem.It esteems luckily or picture placing drawing.Apartments frequently or motionless on reasonable</p>
    <ul class="blue-disc">
        <li>loans with quick approval.</li>
        <li>Customize a loan based on the amount.</li>
        <li>Good credit profile and you have built your loan.</li>
        <li>We provide online instant cash loans.</li>
    </ul>
</div>
<button type="button" class="btn btn-primary button-color">About us</button>