<div class="container mt-4">
    <div class="form-group">
        <label for="exampleInputEmail1">Movie ID</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ID">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Movie</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Movie Name">
    </div>
    <div class="form-group">
        <label>Type</label>
        <input type="text" class="form-control" placeholder="Enter Movie Type">
    </div>
    <button type="submit" class="btn btn-outline-success mr-4">Submit</button>
    <button type="submit" routerLink="/home" class="btn btn-outline-success">Home</button>
    <button type="submit" routerLink="/getdata" class="btn btn-outline-success ml-4">Get Movie Details</button>
</div>