<div class="container-fluid foot">
    <div class="container" style="padding-top: 25px; color: cornsilk;">
        <div class="row">
            <div class="col-sm-6">
                <img  src ="../../assets/images/book.svg" width="80" height="50">
                BOOK STORE
            </div>
            <div class="col-sm-6">
               <p style="margin-left: 61%;">CONTACT US</p>
               <br>
               <img  src ="../../assets/images/whatsapp.png" width="50" height="50" style="margin-right: 20px; margin-left: 55%;">
               <img  src ="../../assets/images/facebook.png" width="50" height="50"  style="margin-right: 20px;">
               <img  src ="../../assets/images/instagram.jpg" width="50" height="50">

            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 25px; text-align: center;">
        <p style="border-top: 1px solid white;"></p>
        <br>
        <p style="padding-bottom: 25px; color: rgb(105, 102, 102);">MADE BY TEAM B</p>

    </div>

</div>
