<div class="container-fluid foot">
    <div class="container" style="padding-top: 25px; color: cornsilk;">
        <div class="row">
            <div class="col-sm-6">
                <img  src ="../../assets/images/book.svg" width="80" height="50">
                BOOK STORE
            </div>
            
            <div class="col-sm-6">
                <p class="text-right">Contact List</p>
                <div class="social-icon">
                    <a href="https://www.facebook.com/public/Fb-Login"><img class="facebook"  src ="../../assets/images/Social-icon/facebook.svg"></a>
                    <a href="https://www.instagram.com/accounts/login/"><img class="instagram" src ="../../assets/images/Social-icon/instagram.svg"></a>
                    <a href="https://twitter.com/login?lang=en"><img class="twitter" src ="../../assets/images/Social-icon/twitter (2).svg"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 25px; text-align: center;">
        <p style="border-top: 1px solid white;"></p>
        <br>
        <p style="padding-bottom: 25px; color: rgb(105, 102, 102);">MADE BY TEAM B</p>

    </div>

</div>
