<!-- <div id="sideDisplay">
    <img src="../../assets/images/back3.jpg" style="object-fit:cover;">
</div> -->


<div id="sideDisplay" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2000">
    <div class="carousel-inner">
      <div class="carousel-item active">
    <img src="../../assets/images/back3.jpg" style="object-fit:cover;">
      </div>
      <div class="carousel-item">
         <img src="../../assets/images/852af353bb96667547b48ffa8aa44f2f.jpg" style="object-fit:cover;">
      </div>
      <div class="carousel-item">
         <img src="../../assets/images/HTB10NC.pv9TBuNjy1zbq6xpepXae.jpg" style="object-fit:cover;">
         </div>
    
    </div>
 </div>