<div id="body-right">
    <table class="table">
    <!-- <caption>List of users</caption> -->
    <thead>
      <tr>
        <th scope="col">Serial Number</th>
        <th scope="col">AuthorName</th>
        <th scope="col">Country</th>
        <th scope="col">LastBook</th>
        <th scope="col">Year of Birth</th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Jaswant Singh</td>
        <td>India</td>
        <td>India at Risk</td>
        <td>1910</td>        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Javed Ashraf</td>
        <td>Pakistan</td>
        <td>A Day in the Life of Kathmandu</td>
        <td>1926</td>        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Jawahar Lal Nehru</td>
        <td>India</td>
        <td>The Discovery of India</td>
        <td>1930</td>        
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>G.B.Shaw</td>
        <td>London</td>
        <td>Arms and the Man</td>
        <td>1895</td>        
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Geofray Chosar</td>
        <td>London</td>
        <td>Kanterbary Tells</td>
        <td>1924</td>        
      </tr>
    </tbody>
  </table>
</div>  
<div class="clearfix"></div>

