<div class="container white-color">
  <div class="row" style="line-height: 70px; padding: 120px;">
    <div class="col-lg-6 pt-5">
      <h5 id="front-text">Get Loan for your Business growth or startup</h5>
      <button type="button" class="btn btn-primary button-color">How It Works</button>
    </div>
    <div class="col-lg-6">
      <form class="form-background-style" [formGroup]="myForm">
        <article class="form-upper-text">How much do you want?</article>
        <div class="form-group form-text-style">
          <article class="form-text-style">We provide online instant cash loans with quick</article>
          <select class="form-control form-text-styl" id="exampleFormControlSelect1" placeholder="Amount">
            <option class="form-text-style" value="" selected disabled hidden>Amount</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect2">
            <option value="" selected disabled hidden>Month</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <article class="form-text-style">You have to pay: $0</article>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block button-color">Continue</button>
      </form>
    </div>
  </div>
</div>
