.button2{
    border-radius: 20px;
    background: rgba(85, 83, 212, 0.952);
    margin-right: 10px;
}
.screen{
    color: whitesmoke;
    padding: 100px 170px 220px 170px;
}
.font{
    font-size: 55px;
}