
<div class="container">
  <div class="container padding_top">
      <div class="row">
        <div class="col-sm-4"><b>Category Name</b></div><div class="col-sm-4"><b>Description</b></div><div class="col-sm-4"><b>Action</b></div>
        <div class="imageinvalid" *ngIf="!Hascatdata"><img src ="../../assets/images/support (1).svg">
        <p class='red'>Server Error</p></div>
          <div class="col-sm-12 border " *ngFor="let data of categoryFormdata"> 
            <div class="row"><div class="col-sm-4 "> <p (click)="senddata(data.id)"> {{data.title | uppercase}}</p></div>
            <div class="col-sm "> <p>{{data.description}} </p> </div>
              <div class="col-sm ">
              <br> <button type="button" class="btn btn-primary" (click)="onDeleteCat(data.id)">Delete</button> 
              </div>
          
          </div>
        </div>
      </div>
      <div class="row-add-image">
        <div class="col-sm-4 border plus_image"(click)="toggle_form()" style="height:100px" ></div>
      </div>
      <div class="row-add-image-form">
        <div class="col-sm-4 border" style="height:200px" *ngIf="view_form" #category_form>
          <form name="categoryForm" [formGroup]="categoryForm" (ngSubmit)="onSubmit(categoryForm)" class="container">
              <div class="form-row">
                  <div class="col">
                      <div class="cat_name">
                        <input type="text" id="catname"  class="form-control" formControlName="bookname" [ngClass]="{'is-invalid': categoryForm.get('bookname').touched && categoryForm.get('bookname').invalid}" placeholder="Book Name">
                          <div class="invalid-feedback">
                            <div>Book Name is Required</div>
                          </div>
                      </div>
                      <div>
                        <textarea  rows="3" cols="3" id="catdescription" class="form-control" formControlName="bookdescription" [ngClass]="{'is-invalid': categoryForm.get('bookdescription').touched && categoryForm.get('bookdescription').invalid}" placeholder="Book Description"></textarea>
                          <div class="invalid-feedback">
                            <div>Dscription is Required</div>
                          </div>
                      </div>
                  </div>
                  <div>
                    <div class="close">
                      <button (click)="close(categoryForm)" >close</button>
                    </div>
                  
                    <div class="submit"> 
                      <button type="submit" [disabled]="categoryForm.invalid">submit</button>
                    </div>
                  </div>
              </div>
          </form>
      </div>
      </div>
  </div>
</div>


    

  
