.padding_top{

    padding-top: 200px;
}
.border {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    margin-top: 10px;
    height: 100px;
    
  
  
}
tr{
    padding: 100px;
    min-height: 100px;
}

.plus_image{
   background-image: url("../../assets/images/plus.svg");
   background-position: center;
   background-repeat:no-repeat ;
   background-size: contain ;
   cursor: pointer;
}
.padding_left{
    margin-left: 10px;
}
.cat_name{
    margin-top: 4px;
    margin-bottom: 4px;
}
div.submit{
  right: 1px;
  bottom: 0%;
  position: absolute;
}
div.close{
    right: 1px;
    top: 0%;
    position: absolute;
 
   


}
div.reset{
    right: 1px;
    bottom: 50%;
    position: absolute;
}
.form-row{
    float: left;
}
button[type=submit], [type=reset], [type=close] {
    background-color:transparent;

 
    box-sizing: border-box;
    cursor:pointer;

}

