.padding_top{
    padding-top: 200px;
    padding-bottom: 250px;
   
}
.container{
    padding-top: 30px;
    padding-bottom: 50px;
}

.border {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    margin-top: 10px;
}

tr{
    padding: 100px;
    min-height: 100px;
}

.cat_name{
    margin-top: 8px;
    margin-bottom: 12px;
}
div.reset{
    right: 1px;
    bottom: 50%;
    position: absolute;
}

button[type=submit], [type=reset], [type=close] {
    box-sizing: border-box;
    /* cursor:pointer; */
    margin-top: 10px;
}

.imageinvalid img{

    width: 30%;
}
.red{
    color: red;
}

p{
    cursor: pointer;
    margin-top: 26px;
}
div .col-sm-5.border{
    margin-left: 30%;
    background-color: black;
}
.popup{
    z-index: 1;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 25px;
}

.view{
    padding-top: 10%;
}

.buttonCss{
    background: black;
    border-color: black;
    border-radius: 15px;
    font-size: 18px;
}

.buttonCss:hover{
    text-decoration: underline  #8167a9 ;
    text-decoration-style: solid;
    color:  #8167a9;
}
.close{
    margin-top: 10px;
    z-index: 1px;
}
button{
    border-radius: 25px;
}
p.text-left{
    text-decoration-color: white;
}
