<div class="container">
    <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Book List</h5>
      </div>
      <p class="mb-1">Famous books</p>
      
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><img src="../../assets/images/library.svg"> Five on a Treasure Island</h5>
        <small class="text-muted">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </small>
      </div>
      <p class="mb-1">Price - ₹ 147</p>
      <p class="mb-1">Book Author - Enid Blyton</p>
      <p class="mb-1">Book ISBN - 9781581180671</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><img src="../../assets/images/library.svg">The Book of Why</h5>
        <small class="text-muted">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </small>
      </div>
      <p class="mb-1">Price - ₹ 517</p>
      <p class="mb-1">Book Author - Judia Pearl</p>
      <p class="mb-1">Book ISBN - 9781581180671</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><img src="../../assets/images/library.svg">Adventures of Sherlock Holmes</h5>
          <small class="text-muted">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </small>
        </div>
        <p class="mb-1">Price - ₹ 149</p>
        <p class="mb-1">Book Author - Sir Arthur Conan Doyle</p>
        <p class="mb-1">Book ISBN - 9781581180671</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><img src="../../assets/images/library.svg">Adventures of Tom Sawyer, The</h5>
          <small class="text-muted"><span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span></small>
        </div>
        <p class="mb-1">Price - ₹ 149</p>
        <p class="mb-1">Book Author - Mark Twain</p>
        <p class="mb-1">Book ISBN - 9781581180671</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
      </a>    
  </div>
</div>