<div class="container ">
    <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Book List</h5>
      </div>
      <p class="mb-1">Famous books</p>
      
    </a>
    <!---->
    <a *ngFor='let book of books' href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><img src="../../assets/images/library.svg"> {{ book.book_name }}</h5>
        <small class="text-muted">
            <span *ngFor='let a of createRange(book.star)' class="fa fa-star checked"></span>
            <span *ngFor='let a of createRange(5 - book.star)' class="fa fa-star"></span>
        </small>
      </div>
      <p class="mb-1">Price - ₹ {{ book.Price }}</p>
      <p class="mb-1">Book Author - {{ book.Book_author }}</p>
      <p class="mb-1">Book ISBN - {{ book.ISBN }}</p>
    </a>
    <!---->    
  </div>
</div>