<div class="container"  >
  
  <h1>choose ur fav color</h1>
  <div>
    <input type="radio" name="colors" (click)="color='pink'">pink
    <input type="radio" name="colors" (click)="color='black'">black
    <input type="radio" name="colors" (click)="color='grey'">grey

    
      <div class="style"  >
    <h5 [appSplit] ="color" >Hello! Welcome To</h5>
    <h1 >Readit Blog</h1>
    <p>
      Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
      texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small
      river named Duden flows by their plate
    </p>
  </div>
  <div>
    <input type="radio" name="colors" (click)="colors='shiwani'">1
    <input type="radio" name="colors" (click)="colors='bhardwaj'">2
    <h2 appSplit [firstinput]="colors">shiwani bhardwaj</h2 >
  </div>
</div>
</div>
