<div class="container">
  <img class="tag" src="../../assets/images/2406205.svg" />
  <div class="row">
    <div class="cols">
      <img src="../../assets/images/attribute.svg" alt="..." class="img-thumbnail" />
    </div>
    <div class="cols">
      <ul>
        <li>{{ books.book_name }}</li>
        <li>{{ books.Price }}</li>
        <li>{{ books.Book_author }}</li>
      </ul>
    </div>

    <div class="row">
      <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
</div>
