
img{
    height: 200px;
}
ul{
    margin: auto;
    list-style-type: None;
    font-size: 40px;

}
.top{
    float: right;
}

.details{
    position: relative;
}
li{
    font-family: 'Uncial Antiqua', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive
}
 
.row{
    margin:auto;
}
.tag{
    width : 100px;
    position: absolute;
    opacity: 0.5;
    right: 10px;
}