<div class="container second">
  <input [ngModel]="username" (ngModelChange)="username = $event" >
  <p>Hello--{{username}}</p>
    <p style="text-align:center;font-weight: bolder; color: darkviolet;">Services</p>
    <h1 style="text-align: centre;">With more than 20 years of experience we can deliver the best product design.</h1>
    <div class="row second">
      <div class="col border-top border-bottom border-left border-right col-border">
        <img src="assets/1.svg">
        <p style="font-weight: bold;">Graphic Design</p>
        <p style="font-size: smaller;">startup you can build a website online</p>
      </div>
      <div class="mr-2"></div>
      <div class="col border-top border-bottom border-left border-right col-border">
        <img src="assets/2.svg">
        <p style="font-weight: bold;">Web Design</p>
        <p style="font-size: smaller;">startup you can build a website online</p>
      </div>
      <div class="mr-2"></div>
      <div class="col border-top border-bottom border-left border-right col-border">
        <img src="assets/3.svg">
        <p style="font-weight: bold;">Mobile App</p>
        <p style="font-size: smaller;">startup you can build a website online</p>
      </div>
    </div>
  </div>
