<div>
  <app-header></app-header>
</div>
<br/>
<table class="container">
    <thead>
      <tr>
        <th><h1>List of Genres</h1></th>
        <th><h1 style="text-align: start;">Actions</h1></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{movie.genre}}</td>
        <button  (click)="delete(movie.id)">Delete</button>
      </tr>
    </tbody>
  </table>
  <br/>
  <div class="container">
  <button  class="btn btn-danger mb-2 float-right" (click)= "toggle()">Add a Genre</button>
  <div *ngIf= "!isCollapsed">
    <form [formGroup]="checkoutForm">
      <div>
        <img src="../../assets/img/genre.jpg" width="300px"  style="margin-top: -100px;">
        <h6 >Add a Genre of your choice</h6>
      </div>
      <label>
        <div class="form-group" >
          <input type= "text" required class= "input" formControlName="genrename" >
          <p class="label-txt">Genre Name</p>
          <div class="line-box">
            <div class="line"></div>
          </div>
        </div>
      </label>
      <div class="col-auto my-1">
        <button type="submit" routerLink="/Genres" (click)=onSubmit() class="btn btn-primary">Submit</button>
    </div>
     </form>
    </div>
  </div>