<div class="p">
    <footer class="bgImage3">
        <div class="container-fluid">
          <div class="row">
              <article class="col-sm-8">
          
                  <h3><font color="darkblue">Apply for a Loan for your startup,<br> education or company.</font></h3>
              </article>    
              <article class="col-sm-4">
                  <button type="button" class="btn btn-primary button">Apply Now</button>
                  </article>   
                </div>
              </div>
                  
  
      </footer>
      <span class="footer"><font color="blue"><strong>Copyright &copy;2020 All rights reserved | This template is made by Shubham Agrahari.</strong></font></span>
</div>
