<div class="container">
  <div class="body-left">
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">BOOK NAME</th>
            <th scope="col">AUTHOR-NAME</th>
            <th scope="col">PUBLISHING-DATE</th>
            <th scope="col">BOOK-CODE</th>
            <th scope="col">BOOK-TYPE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <img src="../../assets/images/book.svg" class="images">
            <th scope="row">Three mistakes of my life</th>
            <td>chetan baghat</td>
            <td>MAY-2008</td>
            <td>5200</td>
            <td>Thrill</td>
          </tr>
          <tr>
            <img src="../../assets/images/book.svg" class="images">
            <th scope="row">Three mistakes of my life</th>
            <td>chetan baghat</td>
            <td>MAY-2008</td>
            <td>5200</td>
            <td>Thrill</td>
          </tr>
          
          <tr>
            <img src="../../assets/images/book.svg" class="images">
            <th scope="row">Three mistakes of my life</th>
            <td>chetan baghat</td>
            <td>MAY-2008</td>
            <td>5200</td>
            <td>Thrill</td>
          </tr>
          <tr>
            <img src="../../assets/images/book.svg" class="images">
            <th scope="row">Three mistakes of my life</th>
            <td>chetan baghat</td>
            <td>MAY-2008</td>
            <td>5200</td>
            <td>Thrill</td>
          </tr>
          <tr>
            <img src="../../assets/images/book.svg" class="images">
            <th scope="row">You were my crush</th>
            <td>durjoy dutta</td>
            <td>april-2019</td>
            <td>5200</td>
            <td>Romantic</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
