.moviesDetailsMargin{
    margin-top: 110px;
}
.moviesDetailsContentGap{
    margin-top: 10px;
}
.downloadButtonSpace{
    margin-right: 16px;
}
.moviesDetailsLogoSize{
    white-space: space pre;
    height: 40px;
    width: 40px;
}
.moviesDetailsLogoSizeLike{
    white-space: space pre;
    height: 40px;
    width: 40px;
}
.xOverflow{
    overflow-x: hidden;
}
.imageShadow{
    box-shadow: 10px 10px 5px #ccc;
}
.img {
    width: 50px;
    height: 50px;
    border:2px solid #fff;    
}.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
    border: 7px solid red;
  }
  
  .container:hover .middle {
    opacity: 1;
    
  }
  .buttonGap{
    margin-top: 20px;
}
 
  
