<div class="xOverflow">
<div>
    <app-header></app-header>
</div>
<div class="row moviesDetailsMargin">
    <div class="col-2">            
    </div>
    <div class="container col-2 imageShadow">         
        <img src="../../assets/img/frozen.jpg" class="img-fluid image" alt="Responsive" style="width:100%" >
        <div class="middle">
           <button class="btn btn-danger" routerLink='/add'>View Details</button>
        </div>        
    </div>
    <div class="col-1">        
    </div>        
    <div class="col-5">
        <h3>{{data.movieName}}</h3>
        <h4>{{data.year}}</h4>
        <h5>{{data.cat.genre}}</h5>
        <h5 class="moviesDetailsContentGap"><i>Available In:</i></h5>
        <button class="downloadButtonSpace">2160p.bluray</button>
        <button class="downloadButtonSpace">1080p.bluray</button>
        <button>720.bluray</button>
        <div>
            <button>
                 <img src="../../assets/img/heart.svg" class="img-fluid moviesDetailsLogoSizeLike moviesDetailsContentGap" alt="Responsive image">
            </button>
        </div>
        <div>
        <img src="../../assets/img/imdb.svg" class="img-fluid moviesDetailsLogoSize" alt="Responsive image">
        </div>
        
    </div>
    <div class="col-2">        
    </div>
    <div class='clearfix'></div>
</div>
<div class="row moviesDetailsMargin">
    <div class="col-2"></div>
    <div class="col-6 container">
    <h2>Synopsis</h2>     
    <p>{{data.synopsis}}</p>
    </div>
    <div class="col-3"> 
        <h4 class="p-3"><strong>Cast</strong></h4>
        <ul class="list-group list-group-flush" *ngFor="let i of data.cast">
            <li class="list-group-item" >{{i}}</li>
        </ul>           
    </div>
    <div class="col-1">        
    </div>
    <div class='clearfix'></div>
</div>
<button routerLink='/list'>List</button>

<div>
    <app-footer></app-footer>
</div>
</div>

