<div>
    <app-header></app-header>
</div>
<div class="row moviesDetailsMargin">
    <div class="col-sm-2">            
    </div>
    <div class="col-sm-3">
        <img src="../../assets/img/frozen.jpg" class="img-fluid" alt="Responsive image">            
    </div>        
    <div class="col-sm-5">
        <h3>Frozen II</h3>
        <h4>2019</h4>
        <h5>Adventure / Animation / Comedy / Family / Fantasy / Musical</h5>
        <h5 class="moviesDetailsContentGap"><i>Available In:</i></h5>
        <button class="downloadButtonSpace">2160p.bluray</button>
        <button class="downloadButtonSpace">1080p.bluray</button>
        <button>720.bluray</button>
        <div>
        <img src="../../assets/img/heart.svg" class="img-fluid moviesDetailsLogoSize moviesDetailsContentGap" alt="Responsive image">
        <div>
        <img src="../../assets/img/imdb.svg" class="img-fluid moviesDetailsLogoSize" alt="Responsive image">
        </div>
        </div>
    </div>
    <div class="col-sm-2">            
    </div>
</div>
<div class="row moviesDetailsMargin">
    <div class="col-sm-2">            
    </div>
    <div class="col-sm-8">
    <h2>Synopsis</h2>     
    <p>Frozen II, also known as Frozen 2, is a 2019 American 3D computer-animated musical fantasy film
         produced by Walt Disney Animation Studios.At the 92nd Academy Awards, the film received a 
         nomination for Best Original Song for "Into the Unknown".</p>
    </div>
    <div class="col-sm-2">            
    </div>
</div>

<div>
    <app-footer></app-footer>
</div>
