<div id="header" class="">
    <app-header></app-header>
</div>
<!-- extra start -->
<!-- <div class="conatainer-fluid">
    <app-extra></app-extra>
</div> -->
<!-- extra end -->

<div class="container-fluid full-image my-4">
    <div class="conatianer">
        <div class="row">
            <div id="body-left" class="col float-left">
                <app-body-left></app-body-left>
            </div>
            <div id="body-right" class="col">
                <app-body-right></app-body-right>
            </div>
        </div>
    </div>
</div>
<div id="footer" class="mb-0">
    <app-footer></app-footer>
</div>


