<div class="container">
    <footer>
        <div class="row row-cols-2">
            <div class="col">
                <span class="footer-1">
                    copyright &copy; 2020 All right reserved ! this templplate is made with <a href="Sonusah.com"></a>
                </span>
            </div>
            <div class="col">
                <div class="connect_social_media">
                    <b>Connect : </b>
                    <a href="#">
                        <img alt="" src="/assets/images/facebook.svg">
                    </a>
                    <a href="#">
                        <img alt="" src="/assets/images/twitter.svg">
                    </a>
                    <a href="#">
                        <img alt="" src="/assets/images/instagram.svg">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
