 <div class="container" style="text-align: center">
  <h1 style="text-decoration: underline; color: darkolivegreen;">Angular Form </h1><br>
<form [formGroup]="checkoutForm" (ngSubmit) = "onSubmit(checkoutForm.value)">
  <div class="form-group" >
    <h3 >First Name:</h3>
    <input type="text" name="firstname" formControlName="firstName" [ngClass] = "{'is-invalid': checkoutForm.get('firstName').touched && checkoutForm.get('firstName').invalid}"  >
    <div class="invalid-feedback">
      <h4> First Name is Required</h4>
    </div>
  </div>
  <div class="form-group" >
    <h3>Last Name:</h3>
    <input type="text" name="lastname"  formControlName="lastName" [ngClass] = "{'is-invalid': checkoutForm.get('lastName').touched && checkoutForm.get('lastName').invalid}">
    <div class="invalid-feedback">
      <h4> Last Name is Required</h4>
    </div>
  </div>
  <div class="form-group" >
    <h3>Email Id:</h3>
    <input type="text" name="email"  formControlName="email" [ngClass] = "{'is-invalid': checkoutForm.get('email').touched && checkoutForm.get('email').invalid}">
    <div *ngIf= "checkoutForm.get('email').touched && checkoutForm.get('email').invalid" class= "invalid-feedback">
      <h4 *ngIf= "checkoutForm.get('email').errors.required"> Email Id is Required</h4>
      <h4 *ngIf= "checkoutForm.get('email').errors.email"> Email must be a valid email address</h4>
    </div>
  </div>
  <div class="form-group" >
    <h3>Confirm Email Id:</h3>
    <input type="text" name="confirmemail" appConfirmEqualValidator = "email" formControlName="confirmEmail" [ngClass] = "{'is-invalid': checkoutForm.get('confirmEmail').touched && checkoutForm.get('confirmEmail').invalid}">
    <div *ngIf= "checkoutForm.get('confirmEmail').touched && checkoutForm.get('confirmEmail').invalid" class= "invalid-feedback">
      <h4 *ngIf= "checkoutForm.get('confirmEmail').errors.required"> Confirm Email Id is Required</h4>
      
    </div>
    <div *ngIf= "checkoutForm.get('confirmEmail').touched" class= "invalid-feedback">
      <h4 *ngIf= "checkoutForm.get('confirmEmail').errors.notEqual"> Email & Confirm Email Id does not match</h4>
    
    </div>
  </div>
  <div class="form-group" >
    <h3>Address:</h3>
    <input type="text" name="Address"  formControlName="Address" [ngClass] = "{'is-invalid': checkoutForm.get('Address').touched && checkoutForm.get('Address').invalid}">
    <div class="invalid-feedback">
      <h4> Address is Required</h4>
    </div>
  </div>
  <div class="form-group" >
    <h3>Age:</h3>
    <input type="text" name="Age"  formControlName="Age" [ngClass] = "{'is-invalid': checkoutForm.get('Age').touched && checkoutForm.get('Age').invalid}">
    <div class="invalid-feedback">
      <h4> Age is Required</h4>
    </div>
  </div>
  <button class="button" type="submit">Save</button>
</form>
<div class="mt-5 ml-auto mr-auto col-md-5 text-center border border-secondary" >
  <h3 ><strong>Movies List</strong></h3>
  <p *ngFor= "let i of nums"> {{ i.id}} {{ i.name }} </p>
 </div>
 <a [routerLink]="['second']">go to second component</a>
</div>
<router-outlet></router-outlet> 
