<div>
    <app-header></app-header>
</div>
<!-- <div class="container">
    <table class="table table-striped" id="table1">
        <tr>
            <th style="width:18%">Movie Name
                <img src="../../assets/img/arrowUp.svg" class="img-fluid" alt="Responsive image"
                    (click)="sortTableAsc()" class="arrow">
                <img src="../../assets/img/arrowDown.svg" class="img-fluid" alt="Responsive image"
                    (click)="sortTableDes()" class="arrow">
            </th>
            <th style="width:10%">Year
                <img src="../../assets/img/arrowUp.svg" class="img-fluid" alt="Responsive image"
                    (click)="sortTableYearAsc()" class="arrow">
                <img src="../../assets/img/arrowDown.svg" class="img-fluid" alt="Responsive image"
                    (click)="sortTableYearDes()" class="arrow">
            </th>
            <th style="width:20%">Cast</th>
            <th style="width:18%">Rating</th>
            <th >Actions</th>
        </tr>
        <tbody>
            <tr *ngFor="let i of movies">
                <td>{{ i.movie.movieName }}</td>
                <td>{{ i.movie.year }}</td>
                <td>{{ i.movie.cast }}</td>
                <td>
                    <span *ngFor="let i of createRange(i.movie.rating)" style="color: rgb(235, 212, 6);" class="fa fa-star checked">
                    </span>
                    <span *ngFor="let i of createRange(5-(i.movie.rating))" style="color: rgb(158, 158, 158);" class="fa fa-star">
                    </span>
                </td>
                <td>
                <button [routerLink]="['/movie', i.movie.id]" routerLinkActive="active">View</button>
            </tr>
        </tbody>
    </table>
</div> -->

<div class="container" *ngFor="let i of watchlist">
    <h1  >hgajghdaj----  {{i.user}}</h1>
    <br>
    <h2>movies - {{i.movieId}}</h2>
</div>
<div class="container" *ngFor="let i of movies">
    <h1></h1>
</div>

<div class="container">
    <p>Please Rate me</p>

<div class="form-group">
  <ngb-rating [formControl]="ctrl"></ngb-rating>
  <div class="form-text small">
    <div *ngIf="ctrl.valid" class="text-success">Thanks!</div>
    <div *ngIf="ctrl.invalid" class="text-danger">Please rate us</div>
  </div>
</div>

<hr>
<pre>Model: <b>{{ ctrl.value }}</b></pre>
<button class="btn btn-sm btn-outline-{{ ctrl.disabled ? 'danger' : 'success'}} mr-2" (click)="toggle()">
  {{ ctrl.disabled ? "control disabled" : " control enabled" }}
</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="ctrl.setValue(null)">Clear</button>

</div>