<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="input-group">
            <div class="input-group-prepend" id="button-addon3">
              <button class="btn btn-outline-secondary" type="button"><img src = "../../assets/images/plus.svg" (click) = addA()></button>
              <button class="btn btn-outline-secondary" type="button"><img src = "../../assets/images/minus.svg" (click) = subA()></button>
            </div>
            <input type="text" class="form-control" value="{{a}}">
        </div>
        <div class="input-group">
            <div class="input-group-prepend" id="button-addon3">
              <button class="btn btn-outline-secondary" type="button"><img src = "../../assets/images/plus.svg" (click) = addB()></button>
              <button class="btn btn-outline-secondary" type="button"><img src = "../../assets/images/minus.svg" (click) = subB()></button>
            </div>
            <input type="text" class="form-control" value="{{b}}">
        </div>
        <p>{{c}}</p>
    </div>
    <div class="col-lg-4"></div>
</div>

    
    