<div class="row" style="margin-bottom: 30px;">
  <div class="col col-lg-6">
    <article>
      <img src="/assets/images/image_1.jpg" alt="Responsive image" class="img-thumbnail" />
    </article>
  </div>
  <div class="col col-6">
    <br /><br />
    <article>
      <h4 style="font-size: 45px;"><strong>Build a website in minutes with Adobe Templates</strong></h4>
    </article>
  </div>
</div>
<div class="row" style="margin-bottom: 30px;">
  <div class="col col-lg-6">
    <article>
      <img src="/assets/images/image_2.jpg" alt="Responsive image" class="img-thumbnail" />
    </article>
  </div>
  <div class="col col-lg-6">
    <br /><br />
    <article>
      <h4 style="font-size: 45px;"><strong> Build a website in minutes with Adobe Templates</strong></h4>
    </article>
  </div>
</div>
<div class="row" style="margin-bottom: 30px;">
  <div class="col col-lg-6">
    <article>
      <img src="/assets/images/image_3.jpg" alt="Responsive image" class="img-thumbnail" />
    </article>
  </div>
  <div class="col col-lg-6">
    <br /><br />
    <article>
      <h4 style="font-size: 45px;"><strong> Build a website in minutes with Adobe Templates</strong></h4>
    </article>
  </div>
</div>
