<header class="container-fluid header">
  <div class="container">
    <a href="#">
      <img src="../../assets/images/logo.png" alt="logo" width="55" height="auto" />
    </a>

    <ul class="nav float-right">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Contact-Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">About-Us</a>
      </li>
    </ul>
  </div>
</header>
