.bgImage{
    background: url(../images/banner.png);
    background-size: cover;
    height: 500px;
    

}

.bgImage2{
    background: url(../images/about.png);
    ;
}

.container2{
    margin-top: 65px !important;
}
.bgImage3{
    background-image: url(../images/loan.png);
    background-size: cover;
}
.bgImage3 h3{
    padding: 100px;
}
.position{
    float: right;
    padding-bottom: 100px;
}
.button{
    float: right;
    margin-top: 130px;
    margin-right: 200px;
    
}

.bgImage3{
    margin: 100px 0px 0px 0px;  
}
.container2{
    margin: 0px 300px 0px 300px;
}

.form{
    background-color: #fff;
    padding: 10px;
    padding-bottom: 20px;
}

.menu-right {
    justify-content: flex-end;
}

.button_2{
    margin-inline-start: 24px;
}
span.footer{
    margin-left: 400px;
}

.points{
    margin-left: -20px;
}

.side_menu{
    list-style: none;
    text-decoration: none;
    margin-left: -20px;
}

ul li.header {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
  }

  .content{
      margin-top: 10px;
  }

  .content1{
    margin-top: 10px;
}

.content2{
    margin-top: 10px;
}

.content3{
    margin-top: 10px;
}

.header1 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
  }

  .content4{
    margin-top: 10px;
}
.navbar{
    float: right;
}

.search_box{
    width: 900px!important;
}

.button1{
    margin-top: 66px;
}
.button2{
    margin-top: 30px;
}
.button3{
    margin-top: 30px;
}

.gap{
    margin-top: 40px;
}
.gap1{
    margin-top: 10px;
}
.gap2{
    margin-top: 10px;
}
.gap3{
    margin-top: 10px;
}
.gap4{
    margin-top: 10px;
}