<div class="view">
<div class="container">
  <div class="form-group mb-4">
  
  
  <h2 style="text-align: center;">Categorie View</h2>
  
    <!-- <button type="button" class="btn btn-primary float-right" style="margin-right: 10px; margin-top: 50px;" [routerLink]="['/book/edit', apiBook.id]">Edit Detail</button>
    <button type="button" class="btn btn-primary float-right" style="margin-right: 10px; margin-top: 50px;" routerLink="/viewbook">Back</button> -->
  </div>
    <!-- <div style="text-align: center;">
    <h2 style="color: blueviolet; margin-top: 50px;" >{{apiCat.title| uppercase}}</h2>
    <br>
    <h4 style="margin-top: 50px;">Categorie Description </h4>
    {{apiCat.description}}
    <br>
    </div> -->


<!-- <div class="container">
 
<table style="width: 100%;" *ngIf="(getdata | filter: searchText).length > 0; else noResults">
  <tr>
    <th style="width: 33.3%;">Book Name</th>
    <th style="width: 33.3%;">Book Author</th>
    <th style="width: 33.3%;">Action</th>
  </tr>
  <tr *ngFor="let element of getdata| filter: searchText  ;">
    <td>{{element.BookName}}</td>
    <td>{{element.AuthorName}}</td>
    <td>
      <button type="button" class="btn btn-primary" style="margin-right: 10px;" [routerLink]="['/book/view', element.id]">View</button>
      <button type="button" class="btn btn-primary" style="margin-right: 10px;" [routerLink]="['/book/edit', element.id]">Edit</button>
      <button type="button" class="btn btn-primary" (click)="onDelete1(element.id)">Delete</button>
    </td>
  </tr>


</table>

</div> -->

















<!-- <div  *ngIf="showcategoryview" class="container">
  <div  *ngFor="let element of getdata">
    <table  border="1px" style="width:100%">     
      <tr>
        <td style="width:50%">{{element.BookName}}</td>
        <td style="width:50%">{{element.AuthorName}}</td>
      </tr>
    </table>
  </div>
</div> -->
