<div class="container">
    <h2 class="py-4">Contact</h2>
  
    <div class="form-group mb-4">
      <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search">
    </div>
  
    <table class="table" *ngIf="(book | filter: searchText).length > 0; else noResults">
      <colgroup>
        <col width="5%">
        <col width="*">
        <col width="35%">
        <col width="15%">
      </colgroup>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Brand </th>
          <th scope="col">Model</th>
          <th scope="col">Year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let books of book | filter: searchText  ; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{book.Book-Name}}</td>
            <td>{{book.Author-name}}</td>
        <td>xyz</td>
        </tr>
      </tbody>
    </table>
  
    <ng-template #noResults>
      <p>No results found for "{{searchText}}".</p>
    </ng-template>
  </div>

  <app-contact-table></app-contact-table>