.padding_bottom{
  padding-bottom: 30%;
}

.upper-button{
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 25px;
  color: grey;
}

div .upper-button{
  margin-left: 100px;
}

div.container{
  margin-bottom: 30px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #DCDCDC;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.text-center{
  border-radius: 25px;
  height: 10%;
  width: 25%;
  background-color:	lightslategrey;
}

.view{
  padding-top: 50%;
}