<article id="right">   
    <h2>Why Choose Us?</h2>
    <p>Esteem spirit temper too say adieus who direct esteem.It esteems luckily or picture placing
        drawing.Apartments frequently or motionless or reasonable.
    <ul>
        <li><strong>Loans with quick approval.</strong></li>
        <li><strong>Customize a loan based on the amount.</strong></li>
        <li><strong>Good credit profile and you have built your loan.</strong></li>
        <li><strong>We provide online instant cash loans.</strong></li>  
    </ul>
    <button type="button" class="btn btn-primary">About Us</button>      
</article> 
