<div class="white-color spacing-around">
  <div id="font">
    <p style="font-size: small;"><font color="white">Hello! Welcome to</font></p>
    <h2>
      <strong class="display-1"><font color="white">Readit Blog</font></strong>
    </h2>
    <p class="check" style="font-size: small;color:white;">
      Far Far away. behind the mountains, far from the countries Vokalia<br />
      and Consonantia, there live the blind texts. Separated they live in right at the coast of the Semantics, a large
      language<br />
      ocean.
    </p>
    <img src="/assets/images/arrow.svg" alt="arrow" width="25px" height="25px" />
  </div>
</div>
