<!-- <table align="center" border="1" width="400px" height="200px">
<h1 class="text-center">Add-Cart</h1> 
<div class="text-center">
  Burger:<br/>
  <button (click)="add(Burger)">+</button>
  {{Burger.value}}
  <button (click)="sub(Burger)">-</button>
</div>
<div class="text-center">
  Pizza:<br/>
  <button (click)="add(Pizza)">+</button>
  {{Pizza.value}}
  <button (click)="sub(Pizza)">-</button>
 </div>
 <div class="text-center">{{text}} = {{Burger.value + Pizza.value}}</div>
</table>
 <form>
 <div class=""> -->
  <!-- {{hero}} -->
  <!-- <P class="text-center" *ngFor="let i of hero">{{i.id}}    {{i.name}}</P>
 </div>
</form> -->


<!-- mock api    -->
<!-- <h2 class="text-center">Teams</h2>
<div class="text-center" *ngFor="let team of teams$ | async">
  <p>{{team.id}}</p>
  <h2>{{team.name}}</h2> -->
  <!-- <p>{{team.description}}</p> -->
  
  <!-- <p>{{team.coach}}</p> -->
<!-- </div> -->

  <div class="card-header text-succes" style="text-align:center">  
    <h2>WELCOME TO MOVIE BOOKING CENTER</h2>
    <button type="button" class="btn btn-success" [routerLink]="['detail-form','team.id']">Add Movie Name</button>
    <!-- <button type="submit" [routerLink]="['/app']">Add Movie</button> -->
  </div>  
 <!-- <app-detail-form></app-detail-form> -->
  <div class="col-lg-12 table-responsive">  
      <table class="table table-striped">  
          <thead>  
              <tr>  
                  <th>Movie Id</th>  
                  <th>Movie Name</th> 
                  <th>Delete Detail</th> 
                  <th>Edit Detail</th>
              </tr>  
          </thead>  
          <tbody>  
              <tr *ngFor="let team of teams$ | async">  
                  <td>{{team.id}}</td>  
                  <td>{{team.movieName}}</td>  
                  <td><button type="button" (click)='onDelete(team.id)'  class="btn btn-danger">Delete</button></td>
                  <td><button [routerLink]="['/detail-form', team.id]" type="button" class="btn btn-success" >Edit</button></td>
                  <!-- <td>  
                    <! <button type="button" (click)='onDelete(team.id)'>Delete</button> -->
                      <!-- <button [routerLink]="['/detail-form', team.id]" type="button" class="btn btn-primary mr-1" >Show</button>   -->
                      <!-- <button [routerLink]="['/detail-form', team.id]" type="button" class="btn btn-danger mr-1" (click)="DeleteStudent(Student.Id)">Edit</button>   -->
                  <!-- </td>   --> 
              </tr>  
          </tbody>  
      </table>  
  </div>  
 
  <router-outlet></router-outlet>

