<h1 class="text-center">Add-Cart</h1> 
<div class="text-center">
  Burger:<br/>
  <button (click)="add(Burger)">+</button>
  {{Burger.value}}
  <button (click)="sub(Burger)">-</button>
</div>
<div class="text-center">
  Pizza:<br/>
  <button (click)="add(Pizza)">+</button>
  {{Pizza.value}}
  <button (click)="sub(Pizza)">-</button>
 </div>
 <div class="text-center">{{text}} = {{Burger.value + Pizza.value}}</div>
 <form>
 <div class="">
  <!-- {{hero}} -->
  <P class="text-center" *ngFor="let i of hero">{{i.id}}    {{i.name}}</P>
 </div>
</form>


<!-- mock api    -->
<h2>Teams</h2>
<div *ngFor="let team of teams$ | async">
  <h2>{{team.name}}</h2>
  <p>{{team.description}}</p>
  <p>{{team.id}}</p>
  <p>{{team.coach}}</p>
</div>



