<div class="container">
    <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Author list</h5>
        
      </div>
      <p class="mb-1">Famous Authors</p>
    
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><img src="../../assets/images/author.svg">Enid Blyton</h5>
        <small class="text-muted">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </small>
      </div>
      <p class="mb-1">Date-of-birth - 11 August 1897</p>
      <p class="mb-1">Country - United Kingdom</p>
      <p class="mb-1">Famous Books - The Enchanted,The Magic Faraway Tree</p>
      
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><img src="../../assets/images/author.svg">Judia Pearl</h5>
        <small class="text-muted">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </small>
      </div>
      <p class="mb-1">Date-of-birth - 4 September 1936 </p>
      <p class="mb-1">Country - Israel</p>
      <p class="mb-1">Famous Books - Casuality,Uncertanity management</p>
      
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"> <img src="../../assets/images/author.svg">Sir Arthur Conan Doyle</h5>
          <small class="text-muted">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </small>
        </div>
      <p class="mb-1">Date-of-birth -  22 May 1859</p>
      <p class="mb-1">Country - United Kingdom</p>
      <p class="mb-1">Famous Books - The Adventures,The lost World</p>
       
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"> <img src="../../assets/images/author.svg">Mark Twain</h5>
          <small class="text-muted">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </small>
        </div>
        <p class="mb-1">Date-of-birth - 30 November 1835</p>
        <p class="mb-1">Country - United States</p>
        <p class="mb-1">Famous Books - etc</p>
        
      </a>    
  </div>
</div>  