<div>
  <app-header></app-header>
</div>
<div class="container">
  <input type="text" class="form-control mt-2" placeholder="Search Movies" [(ngModel)]="search">

  <!-- <button (click)="sortTable()">Sort</button> -->
  <table class="table table-striped mt-2" id="table">
    <tr>
      <th style="width:18%">Movie Name
        <img src="../../assets/img/arrowUp.svg" class="img-fluid" alt="Responsive image" (click)="sortTableAsc()"
          class="arrow">
        <img src="../../assets/img/arrowDown.svg" class="img-fluid" alt="Responsive image" (click)="sortTableDes()"
          class="arrow">
      </th>
      <th style="width:10%">Year
        <img src="../../assets/img/arrowUp.svg" class="img-fluid" alt="Responsive image" (click)="sortTableYearAsc()"
          class="arrow">
        <img src="../../assets/img/arrowDown.svg" class="img-fluid" alt="Responsive image" (click)="sortTableYearDes()"
          class="arrow">
      </th>
      <th style="width:25%">Cast</th>
      <th style="width:6%">Genre</th>
      <th style="width:18%">Rating</th>
      <th>Actions</th>
    </tr>
    <tbody>
      <tr *ngFor="let movie of movies| filterdata :search | paginate: { itemsPerPage: 5, currentPage: p}">
        <td>{{ movie.movieName}}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.cast }}</td>
        <td>{{ catg || movie.cat.genre}}</td>
        <!-- <td>{{ catg }}</td> -->
        <!-- <td>{{ movie.rating }}</td> -->
        <td>
          <span *ngFor="let i of createRange(movie.rating)" style="color: rgba(216, 158, 0, 0.753);" class="fa fa-star checked"></span>
          <span *ngFor="let i of createRange(10 - movie.rating)"  style="color: rgb(226, 226, 220);" class="fa fa-star checked"></span>
        </td>
        <!-- <td>{{ movie.rating }}</td> -->
        <i [routerLink]="['/movie', movie.id]" routerLinkActive="active" class="fa fa-binoculars" aria-hidden="true"
          style="cursor: pointer;"></i>
        <i [routerLink]="['/edit', movie.id]" routerLinkActive="active" class="fa fa-pencil mx-4" aria-hidden="true"
          style="cursor: pointer;"></i>
        <i (click)="delete(movie.id)" class="fa fa-trash mx-1" aria-hidden="true" style="cursor: pointer;"></i>
        <i (click)="add(movie.id)" class="mx-3" style="cursor: pointer;"><img src="../../assets/img/add-fav.svg" height="20px"></i>
      </tr>
    </tbody>
  </table><i routerLink='/add' class="icon float-right"><img style="cursor: pointer;" src="../../assets/img/Add-icon.svg" height="50px"></i>
 
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div> 
<div>
  <app-footer></app-footer>
</div>
