<div id="body-left">
    <table class="table">
    <!-- <caption>List of users</caption> -->
    <thead>
      <tr>
        <th scope="col">Serial Number</th>
        <th scope="col">BookName</th>
        <th scope="col">AuthorName</th>
        <th scope="col">Price</th>
        <th scope="col">ISBN Number</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Jinnah- India, Partition, Independence</td>
        <td>Jaswant Singh</td>
        <td>500Rs</td>
        <td>0-4445-1215-6</td>
        <td>7.6</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>A Day in the Life of Kathmandu</td>
        <td>Javed Ashraf</td>
        <td>300Rs</td>
        <td>0-4545-1215-6</td>
        <td>7.7</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>The Discovery of India</td>
        <td>Jawahar Lal Nehru</td>
        <td>400Rs</td>
        <td>0-5245-1215-6</td>
        <td>7.8</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Arms and the Man</td>
        <td>G.B.Shaw</td>
        <td>450Rs</td>
        <td>0-7845-6315-6</td>
        <td>7.9</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Kanterbary Tells</td>
        <td>Geofray Chosar</td>
        <td>650Rs</td>
        <td>0-8545-4315-6</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>  

