<div class="bg_image">
    <div class="container-fluid">
        <div class="container">
            <div class="container">
                <!-- <div class="row row-cols-2">
                  <div class="col"> -->
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Publication</th>
                            <th scope="col">Country</th>
                            <th scope="col">Last Book</th>
                            <th scope="col">DOB</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let book of book">
                            <th scope="row"> {{book.publication}} </th>
                            <td> {{book.country}} </td>
                            <td> {{book.last_book}} </td>
                            <td> {{book.DOB}} </td>
                            <td>
                              <span class="fa fa-star checked"></span >
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                            </td>
                          </tr>
                          <!-- <tr>
                            <th scope="row">Universal</th>
                            <td>India</td>
                            <td>Organic</td>
                            <td>30/08/1969</td>
                          </tr>
                          <tr>
                            <th scope="row">TechBook</th>
                            <td>India</td>
                            <td>Prims Law</td>
                            <td>01/10/1975</td>
                          </tr>
                          <tr>
                            <th scope="row">Sinha</th>
                            <td>India</td>
                            <td>Cruskal</td>
                            <td>23/06/1979</td>
                          </tr>
                          <tr>
                            <th scope="row">Hajela</th>
                            <td>France</td>
                            <td>CNN</td>
                            <td>23/06/1985</td>
                          </tr> -->
                        </tbody>
                    </table>
                <!--  </div> -->
            </div>
        </div>    
    </div>
</div>


