<div class="container-fluid foot">
  <footer class="container">
    <a   href="#">
      <img class="float-left" src="../../assets/team-3-assets/logo.png" alt="logo" width="120" height="auto">
    </a>

    <ul class="nav justify-content-end topcolumn">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Pages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <div>
      <article class="xyz" style="padding: 90px; ">  
        <p style="border-top: 0.1px solid white; text-align: center;"  > <br> copyright &copy;2020 All rights reserved | This tempelate is made with xyz by 
          monika
        </p>
      </article>
    </div>
  </footer>
</div>
