<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Book Name</th>
        <th scope="col">Auth Name</th>
        <th scope="col">Price</th>
        <th scope="col">ISB No.</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor='let book of books'>
            <th scope="row"> {{book.bookName}} </th>
            <td>{{ book.bookAuthorName }}</td>
            <td>${{ book.bookPrice }}</td>
            <td>{{ book.bookISPno }}</td>
            <td >
                <span *ngFor = 'let i of rang(book.rate)' class="fa fa-star checked"></span>
                <span *ngFor = 'let i of rang(5-book.rate)' class="fa fa-star"></span>
            </td>
            
                <!-- <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> -->
           
        </tr>
    </tbody>
  </table>