<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Book Name</th>
        <th scope="col">Auth Name</th>
        <th scope="col">Price</th>
        <th scope="col">ISB No.</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">HTML</th>
            <td>Mark</td>
            <td>$100</td>
            <td>12457</td>
        </tr>
        <tr class="my-2">
            <th scope="row">Angular</th>
            <td>Markle</td>
            <td>$100</td>
            <td>12457</td>
        </tr>
        <tr>
            <th scope="row">CSS</th>
            <td>Raju</td>
            <td>$100</td>
            <td>12457</td>
        </tr>
        <tr class="my-2">
            <th scope="row">DATA Structure</th>
            <td>R. Sharma</td>
            <td>$100</td>
            <td>12457</td>
        </tr>
        <tr>
            <th scope="row">HTML and CSS</th>
            <td>Nishant</td>
            <td>$100</td>
            <td>12457</td>
        </tr>
        <tr class="my-2">
            <th scope="row">Akar bakker</th>
            <td>Rajat Sir</td>
            <td>$100</td>
            <td>12457</td>
        </tr>
    </tbody>
  </table>