<div class="container">
    <div class="row" style="display: flex; justify-content: center;">
        <nav class="navbar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav txtbold">
                <li class="nav-item active ">
                  Home 
                </li>
                <div class="mr-3"></div>
                <li class="nav-item">
                  Book
                </li>
                <div class="mr-3"></div>
                <li class="nav-item">
                  About
                </li>
                <div class="mr-3"></div>
                <li class="nav-item">
                  Author
                </li>
            
                <div class="mr-3"></div>
                <li> <span class="glyphicon glyphicon-search"></span></li>
              </ul>
            </div>
          </nav>
      </div>
    </div>
