<div class="container">
    <div class="container-2 white-color spacing-around">  
        <div class="row">
            <div class="col-sm cont-2">
                <a class="navbar-brand" href="#" img><img src="/assets/images/section1_girl.png" height="455" width="435"></a>  
            </div>
            <div class="col-sm text">
                <h2>Why Choose Us?</h2>
                <h5>Esteem spirit temper too say adieus who direct esteem. It esteems
                    luckily or picture placing drawing. Apartments frequently or
                    motionless on reasonable.
                </h5>
                <ul class="point">
                    <li>Loans with quick approval</li>
                    <li>Customize a loan based on the amount</li>
                    <li>good credit profile and you have built your loan</li>
                    <li>we provide online instant cash loans</li>
                </ul>
                <button type="button" class="btn btn-info">About Us</button>
            </div>
        </div>
    </div>
</div>

