#body-left{
    margin-top: 50px;
    float: left;
    width: 50%;
    padding-bottom: 250px;
}
#body-right{
    margin-top: 50px;
    float: left;
    width: 50%;
}
#foot{
    
        text-align: center;
        background-color: black;
        color: blueviolet;
        padding: 50px;
        font-size: 30px;
        font-weight: bolder;
    }
