
<ul>
    <li class="right">
     
     <a routerLink="/sign-in" routerLinkActive="active"><img src="../assets/images/backward.svg">
     </a>
    </li>
   <li class='right'>
    <a routerLink=" /" routerLinkActive="active"> <img src="../assets/images/main.svg">Home Page
    </a>
   </li>
    <li class="right">
      <a routerLink="/sign-up" routerLinkActive="active"> <img src="../assets/images/forward.svg">
      </a>
    </li>
</ul>
<router-outlet></router-outlet>

<router-outlet>

</router-outlet>