<div class="container-fluid">
    <div class="container">
        <div class="row row-cols-2">
            <div class="col">
                <div class="container midView" >
                    <p class="text-left">Add Book Here</p>
                    <form [formGroup]="formData" class="col-sm-10">
                        Book Name:
                        <br>
                        <input id="bookname" class="form-control" type="text" formControlName="bookname"
                            [ngClass]="{ 'is-invalid':submitted && u.bookname.errors }">
                        <div *ngIf="submitted && u.bookname.errors" class="invalid-feedback">
                            <div *ngIf="u.bookname.errors.required"> Book Name is required</div>
                        </div>
                        <br>
                        Author Name:
                        <br>
                        <input id="authorname" class="form-control" type="text" formControlName="authorname"
                            [ngClass]="{ 'is-invalid': submitted && u.authorname.errors }">
                        <div *ngIf=" submitted && u.authorname.errors" class="invalid-feedback">
                            <div *ngIf="u.authorname.errors.required"> Author Name is required</div>
                        </div>
                        <br>
                        Catogery Name:
                        <br>
                        <div class="form-row align-items-center"> 
                            <select formControlName="catname" class="custom-select mr-sm-2" id="inlineFormCustomSelect" 
                            [ngClass]="{ 'is-invalid': submitted && u.catname.errors }">
                            
                            <option value="{{i.id}}" *ngFor="let i of apiBook2">{{i.title}}</option>
                            </select>
                            <div *ngIf="submitted && u.catname.errors" class="invalid-feedback">
                            <div *ngIf="u.catname.errors.required">Catogery is required</div>
                            </div>
                        </div>
                        <br>
                        Description:
                        <br>
                        <input id="des" class="form-control" type="text" formControlName="des"
                            [ngClass]="{ 'is-invalid': submitted && u.des.errors }">
                        <div *ngIf="submitted && u.des.errors" class="invalid-feedback">
                            <div *ngIf="u.des.errors.required">Description is required</div>
                        </div>
                        <div style="margin-top: 10px;">
                            <button type="submit" [disabled]="!ngForm.valid" class="btn btn-primary" (click)="onSubmit()" > Add Book</button>
                            <button type="button" class="btn btn-primary" style="margin-left: 10px;" routerLink="/viewbook">Cancle</button>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="col">
                <div class="table-decorator">
                    <p class="text-center">Your Added Book</p>
                    <table>
                        <tr>
                        <th>BookName</th>
                        <th>AuthorName</th>
                        <th>Category</th>
                        </tr>
                        <tr *ngFor="let books of apiBook">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{books.BookName}}</td>
                        <td>{{books.AuthorName}}</td>
                        <td>{{books.catogrie.title}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
