.container-fluid{
  padding-bottom: 250px;
}

div.container.midView{
  margin-top: 15%;
  margin-bottom: 15%;
}

p.text-left{
  font-size: 25px;
  margin-left: 14px;
}

p.text-center{
  font-size: 25px;
}

.table-decorator{
  margin-top: 20%;
  margin-bottom: 15%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
  
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
  
tr:nth-child(even) {
  background-color: #dddddd;
}

.buttonCss{
  background: black;
  border-color: black;
  border-radius: 15px;
  font-size: 18px;
}

.buttonCss:hover{
  text-decoration: underline  #8167a9 ;
  text-decoration-style: solid;
  color:  #8167a9;
}

.add-form{
  margin-top: 50px;
}

.normal {
  height: 35px;
  width: 55px;
  border-radius: 25px;
  background-image: url("../../assets/images/star.svg");
  background-repeat: no-repeat;
  float: left;
  margin: 5px;
}

.selected {
  height: 35px;
  width: 55px;
  border-radius: 25px;
  background-image: url("../../assets/images/star (1).svg");
  background-repeat: no-repeat;
  float: left;
  margin: 5px;
}

b{
  color: red;
}