.container-fluid{
 }

div.container.midView{
    margin-top: 15%;
    margin-bottom: 15%;
}
p.text-left{
    font-size: 25px;
    margin-left: 14px;
}
p.text-center{
    font-size: 25px;
}
.table-decorator{
    margin-top: 20%;
    margin-bottom: 15%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
