.body-img{
    background: url("../../assets/img/homepage-background.jpg") no-repeat center; 
    padding-bottom: 5.9%;
}
.navbar-brand {
    display: inline-block;
    font-size: 1.25rem;
    white-space: nowrap; 
    color: #fcf7f7;
    font-weight: 900;
    font-size: 26px;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1;
}
.navbar-brand1 {
    display: inline-block;
    font-size: 1.25rem;
    white-space: nowrap; 
    color: #fcf7f7;
    font-weight: 900;
    font-size: 26px;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1;
}
.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
    color:#913a3a;
    box-sizing: border-box;
    border: 1px solid #913a3a;
    border-radius: 3px;
}
.navbar-brand i {
    font-style: normal;
    color: #f5ae0a; 
}
.navbar-brand i:hover{
    color:#913a3a;
}
  
.color a{
    color:#fff;

}
.color a:hover{
    color:#913a3a;
    box-sizing: border-box;
    border: 1px solid #913a3a;
    border-radius: 3px;
}
.logo-font{
    font-weight: 800;

}
.content-color{
    color: #f1ecec;
}
.bolder{
    color: rgb(255, 251, 251);
    font-size: 8rem;
    font-weight: 900;
    
}
.spacing-around{
    padding: 200px 0px;
    
}