<div><h1>University of Petroleum & Energy studies</h1></div>
<div class="">
    <h3>Vision</h3>
    <p class="text-left">To be an Institution of Global standing for developing professionally competent talent contributing to nation building.</p>
    <h3>mission</h3>
    <div class="text-left">
        <ul>
            <li>Develop industry-focused professionals with an international outlook.</li>
            <li>Foster effective outcome-based education system to continually improve teaching-learning and research.</li>
            <li>Inculcate integrative thought process among students to instill lifelong learning.</li>
            <li>Create global knowledge eco-system through training, research & development and consultancy.</li>
        </ul>
    </div>
</div>
<button class="btn-success"><a [routerLink]="['/admissions']">Click For Admission</a></button>


