.images
{
    height: 200px;
}
.btn
{
border-radius: 0px;
color: white;
background-color: black;
font-weight: 600;
padding: 6px ;

font-size: 15px;
text-align: center;
}
.checked
{
    color:orangered;
}