
<header>
        <nav>
            <h3 id="logo"><img src= "./../../assets/images/book.svg"></h3>
            <h3 id="login"> Login</h3>
        </nav>
        <section>
            <div class="movable" #movable>
            <video width="320" height="240" autoplay>
            <source src="./../../assets/video/Woman Reading Inside A Library.mp4">
            </video>
            <h1 class="headline">
                BOOK STORE
            </h1>
            </div>
        </section>
</header>
<div class="slider" #slider></div>


