*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right ,#ED9121, 	#EE9A49  );
    z-index: -1;
}
nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10px;
    color: white;
    justify-content: center;
    align-items:center;
    font-size: 45px;
    
}

#logo{
    grid-column: 1/2;
    font-size: 24px;
}
#login{
    grid-column: 4/5;

}
section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items:center;
    
    
  
}
.movable{
    height: 60%;
    width: 80%;
    position: relative;
}
.movable video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movable::after{
    
    content:  "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top : 0;
    opacity: 0.3;

}

.headline{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(20%, 50%);
    color: white;
    z-index: 2;
    font-size: 70px;
    max-width: 20%;
    
    
}

h3.logo_align{
    text-align: right;
}
#logo img{
    width: 50%;
}