*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
section{
    background-color: #EBEBEB;
}



section{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items:center;
    
    
  
}
.movable{
    height: 10%;
    width: 100%;
    position: relative;
}
.movable video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movable::after{
    
    content:  "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top : 0;
    opacity: 0.3;

}

.headline{
    position: absolute;
    bottom: 25%;
    right: 10%; 
    color: white;
    z-index: 2;
    font-size: 80px;
    max-width: 30%;
      
}

h3.logo_align{
    text-align: right;
}
#logo img{
    width: 50%;
}

.blinking{
    color: black;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 1.5em;
  animation:blinkingText 2s infinite;
  animation-timing-function: linear;
    }
@keyframes blinkingText{
    0%{   -webkit-text-fill-color: black;}
    10%{   -webkit-text-fill-color: black;}
    
    70%{   -webkit-text-fill-color: white;}
    
    100%{   -webkit-text-fill-color: white;   }
}


.headline2 .blinking:nth-child(2) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .headline2 .blinking:nth-child(3) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .blinking:nth-child(4) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }

