

        <section>
            <div class="movable" #movable>
                <video autoplay muted loop id="myVideo">
                    <source src="./assets/video/Woman Reading Inside A Library.mp4" type="video/mp4">
                </video>
                  
            <h1 class="headline">
                <div class="headline2">
                    <span class="blinking">B</span>
                    <span class="blinking">O</span>
                    <span class="blinking">O</span>
                    <span class="blinking">K</span>
                </div>
                <div class="headline2">
                    <span class="blinking">S</span>
                    <span class="blinking">T</span>
                    <span class="blinking">O</span>
                    <span class="blinking">R</span>
                    <span class="blinking">E</span>
                </div>
                
            </h1>
            </div>
        </section>


<div>
</div>

