.bg-header 
{
    background: url('/assets/images/bg_1.jpg') no-repeat;
    /* padding: 300px; */
    height: 100%;
    background-image: linear-gradient(to top right,RGBA(248 , 61, 245,0.8),RGBA(249 ,204 ,124,0.8)),url('/assets/images/bg_1.jpg');


    /* Center and scale the image nicely */
    background-position: center;
    
    background-size: cover;
    margin-bottom: 30px;
}