<div class="bg_image">
    <div class="container-fluid">
        <div class="container">
            <div class="container">
                <!-- <div class="row row-cols-2">
                  <div class="col"> -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Author</th>
                              <th scope="col">Price</th>
                              <th scope="col">ISBD:</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">Physics</th>
                              <td>Chan</td>
                              <td>29.99$</td>
                              <td>1098</td>
                            </tr>
                            <tr>
                              <th scope="row">Databases</th>
                              <td>Patel</td>
                              <td>34.8$</td>
                              <td>5649</td>
                            </tr>
                            <tr>
                              <th scope="row">Chemistry</th>
                              <td>Deepak</td>
                              <td>40$</td>
                              <td>2653</td>
                            </tr>
                            <tr>
                              <th scope="row">DAA</th>
                              <td>Aviral Sharma</td>
                              <td>29$</td>
                              <td>2658</td>
                            </tr>
                            <tr>
                              <th scope="row">Machine Learning</th>
                              <td>Scott</td>
                              <td>40$</td>
                              <td>2651</td>
                            </tr>
                        </tbody>
                      </table>
                  <!-- </div>
            </div> -->
        </div>    
    </div>
</div>

