<section>
    <div class="container">
      <p class="font2">-our feature-</p>
      <h1  class="font3" style="text-align: center;">Why Choose Us</h1>
      <div class="row ">
        <div class="col-sm font1">
          <div>
            <img src="images/Customer.png" class="images">
            <p >Global Reach And Local Presence</p>
          <p class="font2">Explore more than 60 products and start building on AWS using the free tier.</p></div>
         </div>
        <div class="col-sm font1">
          <div>
            <img src="images/logo2.svg" class="images" ><p >Fast & FlexibleSolutions</p>
          <p class="font2">Explore more than 60 products and start building on AWS using the free tier..</p></div>
            
         
        </div>
        <div class="col-sm font1">
          <div >
            <img src="images/logo3.svg" class="images"><p>
          Customer  Experience</p>
        <p class="font2">Explore more than 60 products and start building on AWS using the free tier. </pclass="font2"></div>
        </div>
      </div>
      
    </div>
  </section>
