<div class="container mt-4">
  <form action="" [formGroup]='data' (ngSubmit)='onSubmit(data.value)'>
    <label>First Name</label>
    <input type="text" name="firstName"  formControlName="firstName"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"  > 
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">First Name is required</div>
    </div>
    <br>
    <label>Last Name</label> 
    <input type="text" name="lastName"  formControlName="lastName"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"  >
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>
    <br>
    <label>Email</label>
    <input type="text" name="email" id="e1" formControlName="email"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  >
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div>
    <br>
    <input type="text" name="confirmemail" id="e2" formControlName="confirmemail"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmemail.errors }"  >
    <div *ngIf="submitted && f.confirmemail.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.confirmemail.errors.email">Email must be a valid email address</div>
    </div>
    <br>
    <label>Address</label>
    <input type="text" name="address"  formControlName="address"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"  > 
    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
      <div *ngIf="f.address.errors.required">Address is required</div>
    </div>
    <br>
    <label>Age</label>
    <input type="number" name="age"  formControlName="age"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.age.errors }"  >
    <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
      <div *ngIf="f.age.errors.required">Age is required</div>
    </div> <br>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Register</button>
    </div>
  </form>
</div>
