<body>
    <header>
        <div class="container-fluid">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                    <a class="navbar-brand" href="#"><img src="assets/images/hospitalLogo" width="100px" height="80px"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button"><a [routerLink]="['/student']">Signin</a></button>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Signup</button>
                    </form>
                    </div>
                </nav>
            </div>
            <div class="container">
                <div class="Patient_condition">
                    
                    <div class="text-center">
                        <h1 class="text-center" appFirstdirective>Patient Types</h1>
                        <input type="radio" name="colors" (click)="color='lightgreen'">Fever
                        <input type="radio" name="colors" (click)="color='yellow'">Fever + Cough
                        <input type="radio" name="colors" (click)="color='red'">Fever + Cough + Shortness of breath
                    </div>
                </div>
                <div class="checkCondition">
                    <h1 [appFirstdirective]="color">Condions</h1>
                    <ul>
                        <li [appFirstdirective]="color" defaultColor="violet">Green Color Define Minor Disease</li>
                        <li [appFirstdirective]="color" defaultColor="violet">Yellow Color Define Medium Disease</li>
                        <li [appFirstdirective]="color" defaultColor="violet">Red Color Define Major Disease</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</body>



