
   <div class="container padding_top">
    <h1 class="text-center">Sign In</h1>
        <div class="row">
            <div class="col-sm-3">    
            </div>
            <div class="col-sm-6 " > 
                <form name="form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
                    <div class="form-group row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid': form.get('email').touched && form.get('email').invalid}" id="staticEmail" placeholder="email@example.com">
                            <div class="invalid-feedback">
                                <div>Email is Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col">
                            <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': form.get('password').touched && form.get('password').invalid}" id="inputPassword3" placeholder="Password">
                            <div class="invalid-feedback">
                                <div>Password is Required</div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sign" [disabled]="form.invalid" style="margin-top: 20px;">Sign In</button>
                    <div class="text-left"><a routerLink="/signup" routerLinkActive="active">New Here| lets Sign Up</a></div>
                </form>   
                
   
            </div>
        </div>
    </div>

    

