.padding_top{
    padding-top: 10%;
    max-width: 40%;
    padding-bottom: 250px;
}
.signup-position{
    padding-left: 30%;
    
}

.btn-sign{
    border-radius: 4px solid black;
    background-color: 	#FFB90F;
}