<form [formGroup]='myFormData'>
  <div class="form-group">
    <label>Team Name</label>
    <input type="name" [(ngModel)]=teams$.name class="form-control" 
      placeholder="Enter Team name " formControlName='name'>
  </div>
  <div class="form-group">
    <label>ID</label>
    <input type="id" class="form-control" aria-describedby="emailHelp" placeholder="Enter Description"
      formControlName='id'>

  </div>
  <div class="form-group">
    <label>Coach</label>
    <input type="coach" class="form-control" aria-describedby="emailHelp" placeholder="Enter Coach name"
      formControlName='coach'>

  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="description" class="form-control" aria-describedby="emailHelp" placeholder="Enter Description"
      formControlName='description'>
  </div>
  <button type="button" (click)='onPut()'>Update</button>

</form>