<form [formGroup]="checkoutForm" (ngSubmit) = "onSubmit(checkoutForm.value)">
    <div class="form-group" >
      <h3 >name:</h3>
      <input type="text" name="firstname" formControlName="firstName" [(ngModel)]= "checkoutForm.firstName" [ngClass] = "{'is-invalid': checkoutForm.get('firstName').touched && checkoutForm.get('firstName').invalid}"  >
      <div class="invalid-feedback">
        <h4> First Name is Required</h4>
      </div>
    </div>
    <div class="form-group" >
      <h3>Director:</h3>
      <input type="text" name="lastname"  formControlName="lastName" [(ngModel)]= "checkoutForm.lastName" [ngClass] = "{'is-invalid': checkoutForm.get('lastName').touched && checkoutForm.get('lastName').invalid}">
      <div class="invalid-feedback">
        <h4> Last Name is Required</h4>
      </div>
    </div>
    <div class="form-group" >
      <h3>Producer:</h3>
      <input type="text" name="email"  formControlName="email" [(ngModel)]= "checkoutForm.email" [ngClass] = "{'is-invalid': checkoutForm.get('email').touched && checkoutForm.get('email').invalid}">
      <div class="invalid-feedback">
        <h4>Producer is Required</h4>
      </div>
     </div>
      <div class="form-group" >
      <h3>Description:</h3>
      <input type="text" name="Address"  formControlName="Address" [(ngModel)]= "checkoutForm.Address" [ngClass] = "{'is-invalid': checkoutForm.get('Address').touched && checkoutForm.get('Address').invalid}">
      <div class="invalid-feedback">
        <h4> Address is Required</h4>
      </div>
    </div>
    <div class="form-group" >
      <h3>Review:</h3>
      <input type="text" name="Age"  formControlName="Age"  [(ngModel)]= "checkoutForm.Age" [ngClass] = "{'is-invalid': checkoutForm.get('Age').touched && checkoutForm.get('Age').invalid}">
      <div class="invalid-feedback">
        <h4> Age is Required</h4>
      </div>
    </div>
     <button class="button" type="submit">Save</button>
</form>
  
  
  
  
  
