.bg-image P{
    font-size:xx-large;
    font-weight: bolder;
    text-align: center;
    }
.bg-image P strong{
    color:yellow;
    font-weight: bolder;
    font-size:xx-large;
    }
.bg-image {
    background-image: url(../images/bg_1.jpg);
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:1100px;
    
   background-image: linear-gradient(to top right,RGBA(235 , 70, 245,0.8),RGBA(249 ,204 ,124,0.8)),url('../images/bg_1.jpg');
   
    
} 
.center {
    display: block;
    margin-left: 300px;
    margin-right: auto;
    margin-top: 120px;
   
  }
  .col-lg2{
font-size: xx-large;
font-weight: bolder;
padding-top: 50px;
color: gray;
padding-left: 50px;
  }