body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823_960_720.jpg");
   background-size: cover;
}


.container {
    width: 1024px;
    margin: 0 auto;

}

/*-- header starts --*/

header {
    padding: 20px 10px;
}
header nav, header nav li {
    display: inline-block;
}
header nav li a {
    padding: 10px 10px;
    border: 3px black;
    font-size: large;
    text-decoration: underline;
    font-family: cursive;
    width: 100%;
    background-color: indianred;
    border: 5px solid black;
}

header nav li a:hover {
    text-decoration: underline;
    background:yellowgreen;
    
}
header nav {
    float: right;
}
header nav li{
    padding: 20px 20px;
}

/*-- header ends --*/

/*aside styling */
main aside ul li a{
    font-size: x-large;
    text-decoration: underline;
    font-family: cursive;
    width: 100%;
    background-color: indianred;
    border: 3px solid black;

     
}
li a:hover {
    text-decoration: underline;
    background:yellowgreen;
}

aside,section{
    vertical-align: top;
}
aside{
    text-align:left;
    background-color: palevioletred;
    float: left;
    text-decoration: none;
    box-sizing: border-box;
    width: 20%;
    padding: 50px 50px;
}

section{
    width: 79%;
    padding:20px;
    box-sizing: border-box;
    background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&dpr=1&auto=format&fit=crop&w=416&h=312&q=60");
    float: right;
   
}

aside li a {
    width: 100%;
    display:inline-block;
    padding: 20px;
    text-decoration: none;
    background-color: cornflowerblue;
    
}




    /*article styling*/
    article p
    {padding: 100px;
    margin: 50px;
    border:10px solid blueviolet;
    display: inline-block;
    width:auto;
    }

article form{
    padding: 100px;
    margin: 50px;
    border:10px solid blueviolet;
    
    width: 50%;
}
form{
    font-size: x-large;
    font-weight: 500;
    font-family: cursive;
}

article h3 {
    font-size: 20px;
}

article h3 strong {
    font-size: 34px;
}

article p strong {
    font-weight: normal;
    font-style: italic;
}

article.greenColor p strong {
    font-style: normal;
}
footer span li{
    padding: 20px 20px;
    font-family: cursive;
    font: outline;
    text-decoration: underline;
    font-size: x-large;
    border: 3px solid black;
    float: right;
    list-style: none;
}
.popup{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height:400px;
    padding: 100px 100px;
    box-sizing: border-box;
    position: absolute;
   background-image: url("https://i.pinimg.com/236x/83/f9/37/83f937b69f30bb886ab8a03390da6771.jpg");
   background-size: cover;
   font-family: cursive;
   text-align: center;

}
input[type=text]{
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid black;
    box-sizing: border-box;
}
form input[type=submit]{
    width: 100%;
    padding: 30x;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid black;
    box-sizing: border-box;
    font-size: x-large;
    font-family: cursive;
}

input[type=submit]:hover{
    background-color: yellowgreen;
    text-decoration: underline;
}
.clear {
    clear: both;
}
footer span li:hover{
    text-decoration: underline;
    background-color: yellowgreen;
}
footer span{
    font-size: x-large;
    font-family: cursive;
    font-style: italic;
   
}
section article h3{
  
    font-size:xx-large;
    font-weight: 500;
    font-family: cursive;
}
.sty{
    
   
      
        padding: 10x;
        margin: 5px 0;
    
      
        font-size: x-large;
        font-family: cursive;
        display:inline;

    
    }
    
.pop{
    float: right;
}
h3,.pop{
    display: inline-block;
    font-size: x-large;
        font-family: cursive;
}
