.moviesDetailsMargin{
    margin-top: 30px;
}
.imageShadow{
    box-shadow: 10px 10px 5px #ccc;
}
.image-width {
  max-width: 200px;
}
.form-spacing {
  padding-right: 50px;
}
.form-container {
  max-width: 500px;
}
.form-group{
    position: relative;
    display: block;
    margin: 20px 0
  }
  form {
    text-align: center; 
    /* -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1); */
    /* box-shadow: 2px 2px 3px rgba(0,0,0,0.1); */
   }
  label {
    display: block;
    position: relative;
    margin: 40px 0px;
  }
  .label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .3s;
  }
  .input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
  }
  
  .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(180, 66, 66);
    transition: ease .6s;
  }
  
  .input:focus + .line-box .line {
    width: 100%;
  }
  
  .label-active {
    top: -3em;
  }
  
  button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
  }
  
  button:hover {
    background: rgb(180, 66, 66);
    color: #ffffff;
  }
  .title{
    margin-bottom: 3px;
    margin-top: 5px;
    color: #333;
    font-size: 30px;
    font-weight: 600;
    line-height: 41px
  }
  .center {
    text-align: center;
}
.super {
  color: #333;
  font-size: 16px;
  line-height: 22px;
}
.form-group .label-txt{
  position: absolute;
  left: 0px;
  top: 8px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s ;
  font-size: 14px;
}
.input:focus + .label-txt{
  top: -20px;
  font-size: 12px;
  color: rgb(180, 66, 66); ;
}
.input:valid + .label-txt{
  top: -20px;
  font-size: 12px;
}
.buttonGap{
  margin-right: 20px;
}

.rating{
  margin-top: 15px;
  margin-left: 60px;
}

@media screen and (max-width: 768px) {
  .form-container {
    margin: 0 auto;
  }
}