body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;

}

/*-- header starts --*/
#logo{
    background-image: url(../images/download.jfif);
    width: 20px;
    height: 20px;
    background-size:100%;
    margin-top: 10px;
}
header a{
    padding: 10px 20px;
}
header {
    padding: 10px 10px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: tomato;
    z-index: 1;

}
header nav, header nav li {
    display: inline-block;
}
header nav li a {
    padding: 10px 10px;
    text-decoration: none;
}
header nav li a:hover {
    text-decoration: none;
    background: turquoise;
    
}
header nav {
    float: right;
}

/*-- header ends --*/

/*--- main start --*/
.clear {
    clear: both;
}
main {
    background: black;
}

aside {
    width: 20%;
    background: red;
    float: left;
    position:sticky;
    top:37px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: brown;
    
}

aside ul li {
    list-style: none;
}

aside li a {
    padding: 20px;
    display: inline-block;
    width: 80%;
    text-decoration: none;
}

aside li a:hover {
    background: yellowgreen;
}

section {
    width: 80%;
    background: blue;
    float: right;
    padding: 10px;
    box-sizing: border-box;
}
.Popup
{
    
   float: right;
   width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
article input[type=submit] {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding-top:30px;
    
  }
article p {
    padding: 15px;
    border: 1px solid green;
}

article h3 {
    font-size: 20px;
}

article h3 strong {
    font-size: 34px;
}

article p strong {
    font-weight: normal;
    font-style: italic;
}

article.greenColor p strong {
    font-style: normal;
}

#popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: lightpink;
    width: 200px;
    height: 550px;
    padding: 20px;
    position: fixed; 
    display: none;
}
.cancel
{
    float: right;
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*-- footer ends --*/
input[type=text] {
    width: 80%;
    padding: 7px 7px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form input[type=button] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: 5px;
  }
  
#insta{
    background-image: url(../images/insta.jfif);
    width: 50px;
    height: 30px;
    background-size: 100%;
    float: right;
    margin-left: 10px;
    }
    #fb{
        background-image: url(../images/download.png);
        width:30px;
        height: 30px;
        background-size: 100%;
        float: right;
        margin-left: 10px;
    }
    footer{
        
        margin-bottom: 10px;
        padding: 5px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      