.head {
  padding: 15px 15px;
  background: rgb(83, 12, 83);
  color: whitesmoke;
  z-index: 1;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 25px;
}
.body {
  padding-top: 25px;
  text-align: center;
}
.button {
  background: rgb(83, 12, 83);
  color: whitesmoke;
  border: rgb(83, 12, 83) 1px solid;
}
.headButton {
  border: rgb(83, 12, 83) 1px solid;
  color: rgb(83, 12, 83);
  background: whitesmoke;
}
