<div class="container-fluid navbar nav-style">
    <div class="footerTextMargin2">
        <a href='' class="footerText">About Us</a>
        <a href='' class="footerText footerLinkGap">Disclaimer</a>
        <a href='' class="footerText footerLinkGap">Free Movies Download</a>
        <a href='' class="footerText footerLinkGap">Contact</a>
        <a href='' class="footerText footerLinkGap">Home</a>
        <a href='' class="footerText footerLinkGap">Browse Movies</a>
    </div>
    <div class="container py-2">
        <i class="footerText footerTextMargin1">2020 Copyright. All Rights Reserved for Movies-Hub</i>
    </div>
</div>