.navbar-expand-lg
{
    background-color: #f88288;
    padding-right: 18px;
}
.nav-link
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:500;
    color: white;
    font-size: 20px;
    padding: 7px 7px;
}
.btn
{
border-radius: 0px;
color: white;
background-color: black;
font-weight: 400;
}                                                                                                                                                                           
.images
{
    height:30px
}
.dropdown-item
{
    font-weight:700;
}
.navbar-expand-lg .navbar-nav .nav-link 
{
    padding-right:18px
}