.font3
{
    font-size: 30px;
  
}
.font1{
  
    font-size: large;
    padding-top: 30px;
    font-weight: bold;
    
    margin: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px gray;
    padding-bottom: 30px;
   
}