<div class="conatiner pb-3">
  '
  <section class="text-center text-font p-2">
    <a href="">- OUR OFFER -</a>
    <h1>
      What We Offer
    </h1>
  </section>
</div>
<div class="container py-4 my-4">
  <div class="row">
    <div class="col">
      <h2 class="pb-3">
        Get Our Best Offer For your Better Bussiness.
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum vitae ab cum saepe reiciendis optio id
        odio dignissimos nam. Totam alias dolores, aut repellat magnam ipsam officiis recusandae corporis. Lorem ipsum
        dolor sit amet consectetur adipisicing elit.
      </p>
      <ul>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum
        </li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita earum vitae ab cum saepe reiciendis optio id
        odio dignissimos nam. Totam alias dolores, aut repellat magnam ipsam officiis recusandae corporis. Lorem ipsum
        dolor sit amet consectetur adipisicing elit.
      </p>
      <div class="pt-4">
        <button type="button" class="btn btn-primary">Signup and start building</button>
      </div>
    </div>
    <div class="col">
      <img src="/assets/image/org-laptop.png" class="img-fluid" alt="mob-image" />
    </div>
  </div>
</div>
