<div>
    <app-header></app-header>
</div>
<form [formGroup]="checkoutForm" >
    <div class="row moviesDetailsMargin">
        <div class="col-2">
        </div>
        <div class="container col-2 imageShadow">
            <img src="../../assets/img/frozen.jpg" class="img-fluid image" alt="Responsive" style="width:100%">
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
            <label>
                <div class="form-group">
                    <input type="text" required class="input" formControlName="movienm" [(ngModel)]= "dataa.movieName">
                    <p class="label-txt">Movie Name</p>
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                </div>
            </label>
            <label>
                <div class="form-group">
                    <input type="text" required class="input" formControlName="date" [(ngModel)]= "dataa.year">
                    <p class="label-txt">Release Date</p>
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                </div>
            </label>
            <label>
                <div class="form-group">
                    <p class="label-txt">Category</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        
                        <div class="dropdown-menu" *ngFor="let i of catogry">
                            <p>{{ i.genre }}</p>
                        </div>
                      </div>
                </div>
            </label>
            <!-- Dropdown start -->
            
            <!-- Dropdown end -->


            <label>
                <div class="form-group">
                    <input type="text" required class="input" formControlName="cast" [(ngModel)]= "dataa.cast" >
                    <p class="label-txt">Cast</p>
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                </div>
            </label>
        </div>
        <div class="col-4">
        </div>
    </div>
    <button class="button" type="submit" (click)="updateDataa()">Update</button>
</form>