<div class="color">
  <a href="#" class="float-left" style="padding: 14px; font-weight: bold; font-size: 100px;">
    <h4>
      <strong>Read<font color="yellow">it</font></strong>
    </h4>
  </a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Articles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sign-in" routerLinkActive="active">Sign In</a>
    </li>
    <form class="form-inline">
      <li class="nav-item">
        <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
      </li>
      <li class="nav-item">
        <a routerLink="/form" routerLinkActive="active">List of Movies</a>
      </li>
    </form>
  </ul>
</div>
