<div class="container-fluid" style="background-color:rgb(59, 58, 58);">
  <header class="container">
    <div class="py-2">
      <a routerLink="/home"><img src="/assets/img/moviehub.png" alt="Logo" class="img-fluid float-left" width="100px"
          height="100px" style="padding: 10px; margin: -10px;"></a>
      <ul class="nav justify-content-end color">
        <div class="row ">
          <div class="col-12">
            <!-- <div class="input-group">
              <input class="form-control border-secondary py-2" type="search" value="search">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div> -->
          </div>
        </div>
        <li class="nav-item">          
          <a routerLink="/watchlist"><span class="caption">{{value}}</span></a>          
      </li>
        <li class="nav-item">
          <a routerLink="/watchlist" class="btn " aria-haspopup="true" aria-expanded="false" style="color: white;">
          <!-- <img src="../../assets/img/wat.png" width="20px" height="20px">       -->
            WatchList
          </a>          
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
             Genres
            </a>
            <div class="dropdown-menu input" >
              <table>
              <tr *ngFor="let i of catogry">
                <th>
                  <button class="dropdown-item" (click)="onSelect(i)" [routerLink]="['/movieByCatg',i.id]" >{{i.genre}}</button>
                </th>
              </tr>
            </table>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink='/Genres'><strong>+</strong><button>Add a Genre</button> </a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onClickMovie()" style="color: white;"><button>Movie List</button> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)=logout() style="color: white;"><button>Log out</button> </a>
        </li>
      </ul>
    </div>
  </header>
</div>
