<div class="container-fluid bg-header">
    <div class="container">
      <app-navbar> </app-navbar>
  
      <app-header> </app-header>
    </div>
</div>
<div class="container">
  <app-middle-section> </app-middle-section>
</div>
<br />
<div class="container-fluid" style="background: black;">
  <app-footer-section> </app-footer-section>
</div>
<div class="mt-5 ml-auto mr-auto col-md-5 text-center border border-secondary" >
  <h3 ><strong>Movies List</strong></h3>
  <p *ngFor= "let i of datas"> {{ i.id}} {{ i.name }}
    <button type="button" class="btn btn-dark"><a [routerLink]= "['/edit', i.id]" routerLinkActive="active" >Show</a></button>
     </p>
</div>

  
  
