
 <app-header></app-header>
<router-outlet></router-outlet>
<h2>Teams</h2>
<div>  
  <table style="width:100%">
    <tr>
        <th>Team Name</th>
        <th>Team ID</th>
        <th>Team Coach</th>
        <th>Team Description</th>      
    </tr>
    <tr *ngFor="let team of teams$ | async">
        <td>{{team.name}}</td> 
        <td>{{team.id}} </td>
        <td>{{team.coach}} </td>
        <td>{{team.description}} </td>             
    </tr>      
</table>
</div>




<!-- <p>
  Enter your name : <input [(ngModel)]="MyObj.fName"><br>
  Your Name : {{MyObj.fName}}<br>
  Your Last Name :{{MyObj.lName}}
</p> -->

